<template name="foo"> 
	<footer id="footer">
        <div class="footer-last">
            <div class="row clearfix">
                <span class="copyright">© 2016 by <a href="http://theme20.com/">UBMS Company</a>. All Rights Reserved. Powered by <a href="http://themeforest.net/user/behzadg?ref=behzadg">UBMS Company</a>.
                </span>
                <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
                <div class="foot-menu">
                    <ul>
			              <li><a href="index.html">Help</a></li>
			              <li><a href="mp3s.html">Contact us</a></li>
			              <li><a href="videos.html">Success stories</a></li>
			              <li><a href="gallery.html">Privacy and terms</a></li>
			              <li><a href="blog.html">Blog</a></li>
			        </ul><!-- end links -->
			    </div><!-- end foot menu -->
            </div><!-- row -->
        </div><!-- end last --> 

		<script type="text/javascript">var popupStatus = 0 </script>
    </footer> 
</template>