/*body styling*/
/*body{padding-top: 50px}
/*404 styling */
.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
/*loading styling*/
/*.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}
.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}*/