.profilecover{ width: 100%; height: 450px; position: relative; /*background-color: red;*/
  }
.docnameurl{cursor: pointer;}  
  .usrPrflnm , .notificationsicon, .messagessicon, { cursor: pointer;}
#paymentpopup p {display: block; font-size: 11px; color: white}
#addImagediv{color: #ff6600; display: none;}
#uploadingImage{display: none;}
  .unavailable{background-color: #ff6600; font-weight: bold;}
  #seeprofile span.fc-title{ font-weight: bold;}
  .removewhishlistitem{opacity: 0}
.postcodeevent ul.zonecodes {position: absolute; margin-top: 35px; background-color: rgba(255, 255, 255, 0.8);}
.addressnameevent ul.zonecodes , .addresseventedit ul.zonecodes {position: absolute; margin-top: 35px; background-color: rgba(255, 255, 255, 0.8);}
.popup_newPassword_form div{display: block;}
  /*.userstable tfoot, .userstable tfoot tr, .userstable tfoot tr td {width: 100%}*/
  .coverImage{width: 100% ; height: 100%}
.subcover{ /*background-color: yellow;*/ width: 100%; height: 100px;  position : absolute ; bottom: -35px}
.avatarContainer { width : 150px ;
 height : 150px; margin-left: 5% ;
  /*background-color: blue;*/ float: left ;
  border: 8px solid white; border-radius: 5px }
  .userstablecontainer{overflow-x: auto;}
.usercontainer { /*width : 80% ;*/ height : 20%; color: gray; /*background-color: white ;*/ float: left ; margin-top: 68px; }
.usercontainer div {width : 33.3333%; 
	/*background-color: orange; */
	display: inline; margin-left: 10px}
	.blogcommentslist{display: none;}
	.pages{display: none;}
	#youtube_video{display: block; margin: 0 auto; width: 50px}
/*upload song section */
.uploadsongdiv, .adddocument, .addnewalbum, .uploadimgdiv, .uploadsongimgdiv, .uploadvideodiv, .addevent, #addImagediv{
padding: 0px;
	position: relative;  width:auto;  cursor: pointer; 
}
.genericDisplay{display: inline-block;}
.removeDiv
{
	display: none;
	cursor: pointer;
	 position: absolute;
	  width: auto; ;
	  height: auto;
	   padding-left: 5px;
	   background-color: #ff6000; 
	   border-radius: 10px;
	    right: 1px; margin-top: 1px;
	    opacity: 1;
	    z-index: 999999999999999999;
}
.testingspan{
	padding: 0px;
	 display: inline-block;
	 width: auto;
	  margin: 0px;
	   cursor: pointer;
	    color :white;
	    margin-left: 20px;
	   background-color: #ff6000; 
	   border-radius: 10px;
	    padding: 0px 10px;
	     z-index: 9999999999999999; position: relative;}

.removeAlbum
{
	  cursor: pointer;
	  position: relative;
	  z-index: 10000;
	  width: 20px ;
	  float: right;
	  margin-right: -2px;
	  height: 20px;
	  padding-left: 5px;
	  background-color: red; 
	  border-radius: 10px;
	  opacity: 0.9;
}
.uploadsongdiv input.upload , .adddocument input.upload, .uploadsongimgdiv input.upload, .changeCover input.upload , .changeAvatar input.upload  {
	position: absolute; cursor: pointer;
	 margin-top: -25px;
	width: 100%;
	height: 100%;
	padding: 0px; 
	opacity: 0;
}
#addImagediv input.upload{z-index: 10; margin-top: 0px; height: 40px; position: absolute;opacity: 0}
#addImagediv input.upload:hover{cursor: pointer;}
#addImagediv span.addImage , #addImagediv span.addImage:hover{cursor: pointer; position: absolute;}
.userstable  td, .userstable  th {padding: 10px 0px 10px 0px}
.userstable tbody tr.topic-sticky:hover {
     background: #222;
	/*background: #1A1A1A;*/
	-webkit-transition:all .2s;
	transition:all .2s;
}
.songnamediv, .youtubenamediv{margin-bottom: 10px}
.songnamediv span.songnamespanlabel{display: inline; width: auto;}
.songnamespanlabel{font-size: 12px; font-weight: bold;width: auto; padding-right: 5px }
/*#uploadsongfile{ width:100% ; height: 100%; }*/
/*end upload song section*/

.avatarImage { width: 100% ; height: 100% ;  }
.notificationcount{margin-left: 15px; font-size: 10px;
 background-color: red ; padding: 0px 1px;
 position: absolute; color: white; z-index: 1;
  font-weight: bold;
  line-height: 10px;
   border-radius: 3px;
   padding: 3px 5px; display: none;

  }
  .suggest-name {
                font-weight: bold;
                display: block;
                height: 15px;
            }
            .suggest-description {
            	margin-left: 30px;
                font-style: italic;
                font-size: 11px;
                /*color: #999;*/
            }
        .postcodeevent ul li , .addressnameevent ul li , .addresseventedit ul.zonecodes{color: black; }
        .addressnameevent ul li , .addresseventedit ul li{padding-bottom: 10px}
.changeAvatar{position: absolute; height:50px;  bottom: -45px;/*  background-color: pink;*/ width: 135px ;} 
.changeAvatar span{
	float: right ; margin-right: 4px; 
	cursor: pointer;
color: white;
 -webkit-text-shadow: 1px 0px 10px #ff6600;
    -moz-text-shadow: 1px 0px 10px #ff6600;
    text-shadow:  1px 0px 10px #ff6600;
}
.changeCover{  
	position: absolute ; bottom: 10px ; 
	width: 100%; 
}
.changeCover span {float: left; margin-right: 10px; }
.usrPrflnm{line-height: 24px;
	font-family: "Oswald", Tahoma, Arial;
	font-weight: bold;
	line-height: 1; color:white;	text-transform: uppercase;
	font-size: 30px ; }
.usernotifications .dropdown-menu {height: 200px; overflow-x: hidden; overflow-y: scroll;}
#rachini{
	background-color: white;
	height: 250px; background-color: red; display: block;
	width: 100%; padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;}
	#rachini2{
	height: auto; background-color: yellow; display: block;
	width: 100%; padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;}
#notificationsList{
	height: auto;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
 white-space: nowrap; 
background: rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.04);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.04);
padding: 10px;}
#notificationTitle{width: 100%; margin-left: 0px; background-color: transparent; height: 20%;
 display: block;}
#notificationTitle	h4 {
	padding: 0 0 10px;
	margin: 0;
	border-bottom: 1px solid #ff6600;
	display: inline-block;
}
#notificationWrapper, #messagesWrapper{ 
	position: relative;
	z-index: 10;
	white-space: nowrap; 
background: rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.04);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.04);
padding: 10px;
margin-left: 10px; 
width: 100%; height: auto; 
max-height: 300px;
 display: none; 
 visibility: hidden;
 margin-top: 15px;
}
#ex2{display: none;}
.usernotifications {
	text-align: right;
   
}
.emtyresult, .emptywhishlist{font-size: 12px ; font-weight: bold; color: #ff6600; display: none;}
.emptywhishlist{display: block;}
.addwishlist{cursor: pointer;}
.togglenotification
{
	background-color: black;
    padding-left: 12px; padding-right:  5px;
    padding-top: 2px; padding-bottom:  17px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;
}
.usermessages .togglenotification{padding-right:  11px;}
 .transparent
{
    padding-left: 12px; padding-right:  5px;
    padding-top: 2px; padding-bottom:  17px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;
}
#notificationList{margin-left: 0px; width: 300px; height: 80px ; background:blue ; }
#ullist{width:100%; padding: 10px;height: auto; max-height:200px ; overflow-x:hidden;
 overflow-y:scroll ; background-color: transparent;
 }
#ullist  li {padding: 5px}
.accept , .reject{color: black }

.accept:hover {color: green }
.reject:hover{color: red }
.owner {color: black }
.owner:hover{color: gray; }
.nonotification{color: gray; width: 100%; margin-top: -15px; background-color: transparent;
 font-size: 12px}
#notificationsList header p , .notification header p{display: inline; float: left; font-size: 11px;}
#notificationsList header p:last-child,  .notification header p:last-child {float: right;margin-right: 20px }
 .removenotif{margin-top: -25px;  margin-right: -18px}
/*.usernotifications  li{background-image: none;}*/
.usernotifications  li a:hover{ background-image: none; background-color: transparent;}
.usernotifications  li a:active, .usernotifications  li a:focus, .usernotifications  li a:target{ background-image: none; background-color: transparent;}


.notification-box-one{
	background-color: #ff6600;
	opacity: 0.8;
	padding: 8px;
}
.closeNotif:hover, .closeNotif:active{background-color: transparent;}
/*update inforamtion for regular user*/
.userinforow{margin: 2px 0px ; height: 30px; }
.highlightdiv, .songlistdiv, .piecesdiv, .memeberslist,.repertoirelist , .highlightslist {margin: 2px 0px ; height: auto; padding-bottom: 10px }

.userinforow span.oldinfo { 
	width:200px ;
	height: 20px;
	margin-left: 3px;
	    border-radius: 2px;
	      position: relative;
	      margin-bottom: 0px
	  }

.userinforow input[type="text"].oldinfo/*:not(.searchspan)*/,  .bandsets , .bandtype  { 
	width:200px ;
	height: 28px;
	margin-left: 3px;
	margin-left: 2px;
	    border-radius: 2px;
	    margin-bottom: 0px;
	    display: none;
	  }
	  .ccccc { display: inline; background-color: red;}
	  .userinforow div.suggest-holder , .userinforow div.address-holder {display: none}
	  .userinforow i  {color: #001a4d; font-size: 17px; cursor: pointer;}
	 .userinforow input[type="radio"].oldinfo{ display: none; margin: 0px;}
.oldfemale, .oldmale, .oldchatactive,.oldchatinactive , .oldoperyes,.oldinactive ,.oldactive , .oldoperno, #firstnameinput , .bandtype , .bandsets{display: none; }	  
.savefirstname,.savesalarymanage  ,.saveaccountstatus , .saveoprational , .savechatfunc ,
.savelastname, .savesocialpage, .savesocialpageuser,
.savebirthdate, .saveaddress,
.savegender, .savebandname, .saveregion,
.savephonenumber, .savelastname, 
.savebirthdate, .savebuildingnumber, #managesalaryinput,
.savestreetname, .savecity, .savemember, .savehighlight, .saverepertoire, 
.savepostecode, .savecountry, .savebandtype, .savebandsets
{
	display: none;
	 cursor: pointer;
	 color: #001a4d}
	 .searchdiv span
	 {
	position: relative;
	float: right;
	 cursor: pointer;
	 color: #ff6600}
	 .userinforow #usernamespan:hover , .userinforow #emailspan:hover , .userinforow #statusspan:hover , .userinforow #pubcounterspan:hover , .userinforow #pubspan:hover, #salaryspan:hover { cursor: not-allowed }
.userinforow span:not(.suggest-description, .uprecommend, .downrecommend) { margin-left: 5px ; padding: 5px 5px 5px 5px }
.userinforow .bld{font-weight: bold; font-size: 12px;}
.error{color:red; display: none;}
#emtyfirstname i ,#emtysalarymanage i ,#emptyaddress i , #emtysocialpage i,#emtysocialpageuser i,   #emtylastname i, #emptycity i ,  #emptyregion i , #emptypostecode i,#emtyphone i, #emptyrepertoire i,#emtymember i , #emtyhighlight i, #emtybandname i{color: red; font-size: 12px ; font-weight: normal;} 
 .userinforow #errors {display: inline; width: auto; }

	 .savebandtype, .savebandsets{margin: 0px; padding: 0px; }
	 #bandtypespan, #bandsetsspan{ height: 28px;}
	 .bandtype, .bandsets, .postecodeul{margin-bottom: 0px; margin-top: -2px}
	 .postecodeul a span{margin: 0px; padding: 0px;}
	/* .memebernamespan , .memeberrolespan {display: none;}*/
	 .memeberlabel , .listsetlabel {width: auto; float: left; margin: -2px  0px 0px 20px}
	 .memeberdiv{width: 100%; height: auto; display: inline;}
	 .memeberdiv span , .addmemeberform ,.suggest-bandtype ,.suggest-bandloc, .suggest-username,  .suggest-usertype, .address-holder, .suggest-holder, .addhighlightform , .addrepertoireform { 
	 	display: inline;}
	 .addmemeberform  * , .addhighlightform *, .addrepertoireform *{float: left;  margin: 0px;}
	 .suggest-holder , .address-holder { margin-left: 20px;}
	 .suggest-holder input,.suggest-username input , .suggest-usertype input, .suggest-bandloc input, .suggest-bandtype input , .address-holder input{  border-radius: 2px;
	 	 /* margin: 0px; 
	 	margin-left: 20px; 
	 	margin-top: -3px; margin-bottom: 0px ;
	 height: 30px; border-radius: 2px;*/}
	 .addmemeberform span , .addhighlightform span, .addrepertoireform span{ 
	 	width: auto;
	 	 margin-left: 20px; /*margin-top: -3px;*/}
	 .addmemeberform input , .addrepertoireform input, .addhighlightform input, .repertoiresongname, .repertoiresinger , .memeberrolespan , .spanmemebername, .spanhighlight{
	  display: none;
	   margin-bottom: 0px ; }
	 .addmemeberform input, .addrepertoireform input { height: 30px; border-radius: 2px;}
	 .addhighlightform input {  width: 60%;  height: 30px; border-radius: 2px;}
	 .memeberdiv span { float: none; }
	   .addmember, .addhighlight , .addrepertoire {
	   	color: green;
	   	 font-size: 12px; 
	   	cursor: pointer; 
	   	/*padding-top:  0px 10px;*/
	   	font-family: normal; /* margin-left: 20px*/ }
	   	.removeHighlight, .removeMumber , .removerepertoire {display: none;}
	    .addmember  i, .addhighlight i, .addrepertoire i { font-weight: normal; color: green;  font-size: 9px; margin : 5px 10px 0px 10px }
	    .removeMumber i, .removeHighlight  i, .removerepertoire i {font-weight: normal; color: red;  font-size: 12px;}
 .mytitle{
	border-bottom: 1px solid #ff6600;
	color: #fff;
	font-family: "Oswald", Tahoma, Arial;
	font-weight: bold;
	/*line-height: 1;*/
	text-transform: uppercase;
	 }

	 .wishlistdiv{display: inline-block; width: auto;}
	 .wishlistdiv .list li a{display: inline; margin-right: 20px ; cursor: pointer;}
	 .wishlistdiv .list li .icon-remove{float: right; margin-top: 10px; color: red; cursor: pointer;}
	.uprecommend , .downrecommend ,  .uprecommend i , .downrecommend i {padding: 0px ; margin: 0px ; }
	   /*.spanmemebername,
	   .inputmemebername, 
	   .memeberrolespan,
	   .memeberoleinput  {display: none;}*/
#selectpostcode{ height: auto; background-color: yellow; color: blue; }
.postcodelabel{height: 100px; background-color: red}
.postcodedatalist{height: 100px; background-color: yellow; overflow: auto}
#spostecodeinput{color: red}
#selectaddress{width: 100%}
/*styling dropdown postecode*/
.addpostecode, .addadress , .bandtypesearch .bandtypecontainer,.bandlocationsearch .bandlocationcontainer, .usertypecontainer{height: 30px; display: inline; width: auto ; }
.bandtypesearch .bandtypecontainer, .bandlocationsearch .bandlocationcontainer {width: 85%}
.usertypecontainer{width: 90%}
.bandlocationcontainer {width: 90%}
/*.addpostecode > div , .addpostecode > span  {display: inline; margin-right: 0px; padding-right: 0px}*/

/*.addpostecode > span {margin-top: -20px ; margin-left: 20px}*/
.suggest-holder {
    width: 150px;
    height: 28px;
	float: left;
	
} 
.address-holder{
    width: 230px;
    height: 28px;
	float: left;
	
} 
 .suggest-holder input {
        width: 150px;
        height: 28px;
		padding: 0px; 
		margin: 0px 0px 1px 0px;
		/*margin-bottom: 1px; */
		border-radius: 3px;
    }
    .address-holder input {
        width: 230px;
        height: 28px;
		padding: 0px; 
		margin: 0px 0px 1px 0px;
		/*margin-bottom: 1px; */
		border-radius: 3px;
    }
    .suggest-bandtype  input {
    	width: 70%;
        height: 28px;
        border: 1px solid rgba(0,120,0,.6);
		padding: 0px 0px 0px 10px; 
		/*margin: 0px 0px 1px 10px;*/
		margin-bottom: 0px;
		/*margin-bottom: 1px; */
		border-radius: 5px;
    }
    .suggest-bandloc  input , .suggest-username input, .suggest-usertype input {
    	width: 70%;
        height: 28px;
        border: 1px solid rgba(0,120,0,.6);
		padding: 0px 0px 0px 10px; 
		/*margin: 0px 0px 1px 10px;*/
		margin-bottom: 0px;
		margin-left: 17px;
		border-radius: 5px;
    }
    .suggest-bandtlocation {margin-left: 17px}
.suggest-bandtypeinput, .suggest-usernameinput{margin-left: 15px}
.suggest-holder ul , .address-holder ul ,.postcodeevent ul, .addressnameevent ul ,.addresseventedit ul {
	    color: white;
        display: none;
        list-style: none;
        margin: 0px;
        padding: 0;
        border: 1px solid rgba(0,0,0,1);
        border-radius: 2px;
     	height: 120px;
		position: relative;
		width: 150px;
		background-color: rgba(0, 0 ,0 ,0.5);
		z-index: 10;
		overflow-x: hidden;
    }
    .suggest-bandtype ul , .suggest-usertype ul , .suggest-username ul , .suggest-bandloc ul
    {
       color: white;
        display: none;
        list-style: none;
        margin: 0px 0px 0px 12px;
        padding: 0;
        border: 1px solid rgba(0,0,0,1);
        border-radius: 2px;
     	height: 120px;
		position: relative;
		width: 70%;
		background-color: rgba(0, 0 ,0 ,0.5);
		z-index: 10;
		overflow-x: hidden;
    }
    .suggest-usertype ul , .suggest-username ul, .suggest-bandloc ul{margin-left: 17px}
    .address-holder ul  {width: 230px;}
    .postcodeevent ul ,.addressnameevent ul ,.addresseventedit ul.zonecodes {width: 100%}
.suggest-prompt, .suggest-bandtypeinput , .suggest-bandloc input, .inputaddress , .suggest-usertype , .suggest-username{margin-bottom: 2px}
.suggest-bandtypeinput {padding-left: 5px}
.postcodeevent ul li:hover, .locations li:hover , .addressnameevent ul li:hover, .addresseventedit ul li:hover{color: #ff6600; cursor: pointer; }
 .suggest-holder li:hover , 
 .suggest-usertype li:hover ,.suggest-username li:hover ,
  .suggest-bandtype li:hover , .address-holder li:hover,
   .address-holder li:hover {color: #ff6600; cursor: pointer;}
        .suggest-holder li,.locations li, .suggest-bandtype li ,.suggest-username li , .address-holder li , .suggest-usertype li {
            padding: 5px;
        }
        .suggest-holder > li:hover, .bandtype li:hover,  .bandtype li:active ,.suggest-holder > li.active , .postcodeevent >li:active, .addressnameevent >li:active, .addressnameevent >li:hover, .addresseventedit >li:hover, .addresseventedit >li:active, .postcodeevent >li:hover, .address-holder > li:hover,.address-holder > li.active {
            background: rgba(0,120,0, .2);
        }
            .suggest-name {
                font-weight: bold;
                display: block;
                height: 15px;
            }
.doc {
width: 100%;
height: 300px;
z-index: 99999999999999999;
}

.addpostecode , .bandtypecontainer , .usertypecontainer, .bandlocationcontainer { padding-bottom: 20px; position: absolute;}
.addadress { padding-bottom: 20px; position: absolute;}

.highlightslist ul li:hover{cursor: pointer ;}
.ratingdiv {display: inline; height: 100px; font-size: 12px; 
 width: auto;
	position: relative; 
}
.ratingdiv p { position: relative; margin-left: 10px; margin-top: 5px;
float: none; width: 100px ; display: inline; position: absolute; cursor: pointer; }
.wishlist, .hire{
 position: relative;
 cursor: pointer;
 color: #ff6600 ; }
 .repRequest, .uploadsongdiv, .adddocument, .addnewalbum, .uploadimgdiv , .uploadvideodiv, .addevent{ display: none; width: auto;  float: left; 
 	margin-top: 8px;  }
 	.uploadsongimgdiv {width: auto; float: left; margin-top: 8px}
 	.repRequest{background-color: gray}
 	 .repRequest span , .uploadsongdiv span, .addnewalbum span , .adddocument span, .uploadimgdiv span, .uploadvideodiv span, .addevent span, .uploadsongimgdiv span{
font-size: 12px;}
 
.tabs li {display: inline;}
#UserConnected navbar-nav > li > .dropdown-menu:hover { background-color: #FF0000; }
#toggedfirst .dropdown-menu li a {
  background: white;
  box-shadow: none;
  color: gray;
}

#toggedfirst .dropdown-menu li a:hover{
  background: white;
  box-shadow: black;
  color: #ff6600;
}
.createblogform{display: none;}
.tooltip-inner {background-color: white ; color: #ff6600}
.tooltip.top .tooltip-arrow {border-top-color: white}

.profileMessages a  {background-color: #ff6600}
.badge:hover {display : none ; background-color: #ff6600}
/*end styling dropdown postecode*/ 
/*search section styling*/
#bandnamesearch, .bandtypesearch ,.bandlocationsearch , .salarydiv, .sortby{width: 100%; height: auto; margin: 10px 0px}

.salarylabel{width: auto; ; display: inline; font-size: 12px ; font-weight: bold;}
.searchdiv {width:  100% ; margin: 0px ; position: relative;}
.searchlabel{float: right ; cursor: pointer; padding: 0px ; font-size: 12px; font-weight: bold; position: relative;}
.bandtypecontainer , .bandlocationcontainer {margin-left: 13px ;}
.bandlocationcontainer {margin-left:  13px}
#bandnamesearch input {
	display: inline; 
	width: 70% ;
	 border-radius: 3px; 
	 margin-left: 5px;}
	 .sorticons span:hover{color: #ff6600; }
	 .sorticons {width: 50px ; cursor: pointer}
.searchdiv span {
	display: inline; 
	width: auto; float: right; }	 
.sortby span , .sortby div {display: inline;} 
/*end search section styling*/
/*salary range slide */
.slider-selection {
	background: #BABABA;
	height:10px;
	display:relative;
}
.slider-handle {
  background-color: #ff6600;
  color: #ff6600;
  background-image: none;
  width: 15px ; 
  height: 15px;
  
  }
  .slider.slider-horizontal .slider-track {
    height: 3px;
    margin-top: -4px;
    padding: 0px 10px;
    top: 50%;
    left: 0;
}
.banscontent{width: 100% ; padding-left: 10px ; padding-right: 10px}
.banscontent .searchside{width: 35%}
.banscontent .searchresult{width: 62%}

.slider.slider-horizontal { width: 52%; }
.maxsalary{padding-left: 8px ; width: auto; display:  inline;}
.minsalary{padding-right: 8px;  width: auto; display:  inline;}
#bandnumbersdiv{width: 100% ; height: auto; font-size: 12px; font-weight: bold;}
#bandnumbersdiv input{width: 50px ; height: 30px; margin-bottom: 0px}

.inputminnumber{position: absolute; margin-left: -20px;  margin-top: 2px}
.iminnumber { transform: rotate (50deg) ; 
 -ms-transform: rotate (50deg) ; 
 -webkit-transform: rotate (50deg) ; 

}
.imaxnumber {display: block; cursor: pointer;}
.iminnumber{display: block; cursor: pointer;}
.savepostecode , .saveaddress {margin-left: 5px}
#regioninput {margin-left: 25px}
#cityinput {margin-left: 45px}
.addpostecode .suggest-holder {margin-left: 15px}
#myaudio2 {display: none; width: 0px ; height: 0px ; padding: 0px; margin: 0px}
.songuploadbox { position: fixed; margin: 0px; bottom: 10px ; visibility: hidden; z-index: 10000; float: left ;  padding: 10px 20px}
.songuploadbox a {margin-right: -10px ; margin-top: -22px}
.searchusers > .def-block {padding-left:  20px; padding-right:  20px}

#socialpageinput, #socialpageuserinput{width: 300px; }

.displaydetails {width: 100%; margin-bottom: 15px; };
.displaydetails span  {display: inline; width: auto; }
.displaydetails span.eventnamespn{margin-left: 38px; margin-top: 1px}
.displaydetails .bld {font-size: 12px; font-weight: bold;} 
 .updateeventname, .updateeventend,.updateeventvenue, .updateeventaddress, .updateeventcity, .updateeventtype,.updateeventregionname , .updateeventpostcode, .updateeventstart {float: right;  color: #001a4d; cursor: pointer;}
.updateeventtype i,.updateeventvenue i, .updateeventend i,.updateeventaddress i, .updateeventcity i, .updateeventregionname i, .updateeventname i, .updateeventpostcode i, .updateeventstart i , .updateeventstartdate i {font-weight: bold; font-size: 17px;}
.eventnameedit, .eventtypeedit,.addresseventedit, .venueeventedit, .eventregionnameedit, .eventstartdateedit,.eventcitynameedit, .eventregionnameedit, .eventenddateedit, .eventpostcodeedit{display: none;}
.sendmessagecontainer {width: 100%; height:100px; position: relative;}
 .rating {color: gray}
.sendmessagecontainer textarea { width: 100%;min-height:80px; position: relative; padding: 0px; margin: 0px}
/*end salary range slider */
/* #Tablet (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 959px) and (max-width: 1177px) {
/*
.banscontent .searchside{width: 35%}
.banscontent .searchresult{width: 65%}
*/
.postcodeevent ul ,.addressnameevent ul ,.addresseventedit ul.zonecodes {width: 100%}
.songnamespanlabel{font-size: 12px; font-weight: bold;width: auto; padding-right: 5px }
.ratingdiv p {  margin-top: -0.5px;}
.togglenotification{text-align: right;
    background-color: black;
    padding-left: 12px; padding-right:  5px;
    padding-top: 2px; padding-bottom:  17px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;}
	.profilecover { height: 200px}
	.usercontainer{margin-top: 40px}
	.subcover {margin-bottom: -30px}
	.avatarContainer{height: 100px; width: 100px ; margin-top: 20px;}
	.changeAvatar {width: 90px ; bottom: -15px}
	.changeAvatar span {margin-right: 10px}
	.wall{ background-color: red; width: 10%;}
.usrPrflnm , .notificationsicon, .messagessicon {font-size: 25px ; cursor: pointer;}
.removeHighlight {display: none;}
.repRequest span, .adddocument span, .addnewalbum span, .uploadsongdiv span, .uploadimgdiv span, .addevent span, .uploadvideodiv span, .uploadsongimgdiv span{ font-size: 12px;}
.product_inner p.price{ font-size: 15px ; margin-right: 10px}
.product_inner p.rating{ float: left }

}
/* #Tablet (Portrait)
----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.postcodeevent ul ,.addressnameevent ul ,.addresseventedit ul.zonecodes {width: 100%}
.usertypecontainer{display: block; position: relative; height: auto; padding-bottom: 0px}
.suggest-usertype input, .suggest-usertype ul{margin-left: 0px ; width: 100% }
.suggest-username input, .suggest-username ul{margin-left: 0px ; width: 100% }

.usertypesearch {height: auto;}
.songnamespanlabel{font-size: 12px; font-weight: bold;width: auto; padding-right: 5px }
	.salarylabel {display: block;}
	 .suggest-bandtype .suggest-availability, .suggest-bandloc {font-size: 11px}
	.product_meta a.f_btn {float: left; }
	.product_inner p.rating , .product_inner p.price{float: left ; font-size: 12px}
	.product_inner p.price{margin-right: 10px;}
	.sortby span {display: inline-block;}
	.sortlabel{width: 100%; display: block; float: none;}
	.feedbacksort , .salarysort  {width: 100%; }
	.feedbacksort i, .salarysort i  , .sorticons{display: inline;}

	.ratingdiv p {  margin-top: -1px; display: inline; position: absolute; }
	#memeberdiv >  #errors, #repertoirediv >  #errors {font-size: 12px}
	.addmemeberform input , .addrepertoireform input  {width: 145px;}

	/*#memeberdiv > div {display: block;
	 width: 100%; 
	  float : left; }*/
	/*memebers responsive design*/
	.usernotifications {
	text-align: right;
    
}
.notificationcount{
	margin-left: 8px; font-size: 8px;
 background-color: red ; padding: 0px 1px;
 position: absolute; color: white; z-index: 1;
  font-weight: bold;
  line-height: 10px;
   border-radius: 3px;
   padding: 2px 4px; display: none;

  }
	.togglenotification{background-color: black;
    padding-left: 12px; padding-right:  5px;
    padding-top: 1px; padding-bottom:  21px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;}
    #notificationTitle h4{font-size: 12px; }
.usrPrflnm , .notificationsicon, .messagessicon {font-size: 20px }
	.profilecover { height: 350px }
	.usercontainer{margin-top: 40px}
	.subcover {margin-bottom: -30px}
	.changeAvatar  span{font-size: 10px}
	.avatarContainer{height: 80px; width: 80px ; margin-top: 30px ; border: 5px solid white; border-radius: 3px }
	.changeAvatar {width: 70px; bottom : -8px}
	.wall{ background-color: blue; width: 100%; height: 500px;}
.username{font-size : 0.5em ;}
.addmemeberform span, #memeberdiv #errors span {padding: 5px 2px 5px 1px; margin-left: 5px}
.addmemeberform span{padding-top: 0px ; margin-left: 15px}
		.wishlist span { white-space: nowrap; position: absolute; }

		.repRequest span , .adddocument span, .addnewalbum span, .uploadsongdiv span , .addevent span, .uploadvideodiv span , .uploadimgdiv span, .uploadsongimgdiv span{ font-size: 12px;}
		.hire span{margin-top: -5px ; position: absolute; }
 
 .userstable tbody tr td:nth-child(7),
 .userstable thead tr th:nth-child(7)
  {display: none;}
}
/* #Mobile (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.postcodeevent ul ,.addressnameevent ul ,.addresseventedit ul.zonecodes {width: 100%}
	.userstable{font-size: 12px}
 .userstable tbody tr td:nth-child(7),
 .userstable thead tr th:nth-child(7)/*,
 .userstable tbody tr td:nth-child(4),
 .userstable thead tr th:nth-child(5),
 .userstable thead tr th:nth-child(4),*/
  {display: none;}
.songnamespanlabel{font-size: 12px; font-weight: bold;width: auto; padding-right: 5px }
	.minsalary {padding-right: 8px ; font-size: 11px }
	.maxsalary {padding-left: 3px  ; font-size: 11px}

.slider.slider-horizontal { width: 51%; }
		.wishlist span {margin-top: -5px ; white-space: nowrap; position: absolute; }

.banscontent{width: 80% ; padding-left: 40px ; padding-right: 40px}
	/*.ratingdiv {float: none; width: 100px; }*/
	.ratingdiv p{margin-top:2px;  font-size: 10px;}
	#memeberdiv , #highlitsdiv , #repertoirediv {height: auto; padding-bottom: 68px}
	#memeberdiv div , #highlitsdiv div{display: block;}
	.addhighlightform{margin-top: 2px}
	#memeberdiv > div, #highlitsdiv  > div , #repertoirediv  > div{display: block;
	 width: 100%; 
	  float : left; }
	  .addmemeberform * , .addrepertoireform *  { float: left; margin-left: -5px}
	  .addmemeberform input , .addrepertoireform input{width: 100px;}

	.userinforow span {margin-left: 0px ; margin-right: 0px }
	.userinforow input[type="text"].oldinfo ,   .bandsets , .bandtype{ width: 100px; margin-left: 0px;margin-right: 0px ; padding: 0px }
      .userinforow input , .userinforow .bld { font-weight: bold; font-size: 11px}
      .bandsets , .bandtype{font-size: 11px}
	/*.userinforow   { height: 50px; }*/
	 .userinforow #errors { padding-top: 5px; width: auto; /*display: block; */  }

	.usernotifications {
	text-align: right;
    
}
.notificationcount{
	margin-left: 5px; font-size: 8px;
 background-color: red ; padding: 0px 1px;
 position: absolute; color: white; z-index: 1;
  font-weight: bold;
  line-height: 10px;
   border-radius: 3px;
   padding: 2px 4px; display: none;

  }
.togglenotification{background-color: black;
    padding-left: 12px; padding-right:  5px;
    padding-top: 8px; padding-bottom:  20px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;}
#notificationTitle h4{font-size: 13px}
#notificationWrapper, #messagesWrapper {padding:9px; margin-top: 12px; }
.usrPrflnm , .notificationsicon, .messagessicon {font-size: 15px }
	.profilecover { height: 300px}
	.usercontainer{margin-top: 70px; float: none;}
	.changeAvatar  span{font-size: 10px}
	.avatarContainer{height: 80px ; width: 80px ;  margin-top: 36px; border: 5px solid white; border-radius: 3px }
	.changeAvatar {width: 70px; bottom: -15px}
	/*.avatarContainer span{height: 80% ; font-size: 5px; color: red;}*/
	.wall{ background-color: blue; width: 10%; height: 500px}
.username{font-size : 0.5em ;}
#notificationWrapper, #messagesWrapper {float: left; width: 75% ; padding:9px;}
#ullist li p.notcontent  { display:inline; float: none; width: 100% }

#ullist li .notcontent a  { /*display: block;*/ }
#ullist li .notcontent a.accept  { display: block; float: none; width:  30% }
#ullist li .notcontent a.reject  { display: block; float: left; width: 60% }

/*#ullist li .notcontent a.accept  { display: block; float: none; width:  20% }
#ullist li .notcontent a.reject  { display: inline; float: right; width: 0% }*/
.notcontent i {display: none;}
	#notificationWrapper #ullist li > p > a.owner ,  #notificationWrapper #ullist li > p > a.owner 
	{/*display: inline;float: none; */
		width: 10% ;font-size: 13px}
.ullist header p  {font-size: 12px ; }
p.notcontent {font-size: 12px ;  width:100%; display: block;}
#memeberdiv >  #errors{font-size: 12px}
.repRequest , .uploadsongdiv, .adddocument , .addnewalbum, .uploadimgdiv ,.addevent , .uploadvideodiv{margin-top: 0px}
.tabs li a  {display: inline;  }
/*.tabs li  {display: inline;  margin: 10px 10px 7px -5px}*/
.tabs li  {display: inline;  margin: 10px 5px 7px -5px}


.repRequest span, .adddocument span, .addnewalbum span, .uploadsongdiv span, .addevent span,.uploadvideodiv span, .uploadimgdiv span, .uploadsongimgdiv span{ font-size: 10px;}
.usercontainer{margin-top: 50px}
	.subcover {margin-bottom: -20px}
	.hire span {margin-top: -5px ; position: absolute;}
	.addrepertoireform span , .addmemeberform span , .addhighlightform span {padding: 0px 7px}
	#regioninput {margin-left: 25px}
#cityinput{margin-left: 45px}

.addpostecode .suggest-holder {margin-left: 10px}
#sociallinkdiv {height: auto; padding-bottom: 5px}
#socialpagediv{height: auto; padding-bottom: 20px}
.sociallabel{display: block}
#socialpageinput, #socialpageuserinput{width: 100%; float: none; font-size: 11px}
/*#ullist li a {display: block; float: none;width: 100%}*/
}

/*  #Mobile (Portrait) 320px
----------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.postcodeevent ul ,.addressnameevent ul ,.addresseventedit ul.zonecodes {width: 100%}
	#mycalendar {width: 100%; height: 100%}
	 #popupevent .input-group input ,#popupevent .input-group span, #bookingdetails .input-group input, #bookingdetails .input-group span { height: 30px}

	 #popupevent .input-group, #bookingdetails .input-group   {width: 100%}
	 #popupevent .input-group input, #bookingdetails .input-group input {border-radius: 15px 5px 5px 5px}
	 #popupevent .input-group span , #bookingdetails .input-group span{margin-left: 0px; margin-top: 0px}
     #popupevent .def-block , #bookingdetails .def-block {padding-bottom: 5px; margin-bottom: 0px; padding-top: 10px }
     #popupevent #popupeventclose, #bookingdetails #bookingdetailsclose  {margin-top: -15px}
	.tback{top:0px;}
	#erryoutubeurl, #eventerr, #eventediterr{margin-left: -10px}
.userstable tbody tr td:nth-child(7),
 .userstable thead tr th:nth-child(7),
 .userstable tbody tr td:nth-child(6),
 .userstable thead tr th:nth-child(6),
 .userstable tbody tr td:nth-child(5),
 .userstable thead tr th:nth-child(5)
  {display: none;}
.songnamediv span.songnamespanlabel{font-size: 11px; font-weight: bold;width: auto; display: inline; padding-right: 5px }
.banscontent{width: 100% ; padding-left: 10px ; padding-right: 10px}
.currentsonname{font-size: 11px}
		.wishlist span {margin-top: -10px ; white-space: nowrap; position: absolute; font-size: 11px; }
	#memeberdiv > div , #highlitsdiv > div, #repertoirediv > div  {display: block;
	 width: 100%; 
	  float : left; }
	.userinforow   { height: 50px; }
	.userinforow  .bld { font-size: 11px; }

	.userinforow input[type="text"].oldinfo , .bandsets , .bandtype{ width: 100px;}
	.bandsets , .bandtype{font-size: 11px}
	 .userinforow #errors { padding-top: 0px; width: auto; display: block;   }
	.notificationcount{margin-left: 5px; font-size: 10px;
 background-color: red ; padding: 0px 1px;
 position: absolute; color: white; z-index: 1;
  font-weight: bold;
  line-height: 10px;
   border-radius: 3px;
   padding: 1px 3px; display: none;
   margin-top: 2px;

  }

#notificationTitle h4{font-size: 12px; line-height: 3px}
	.usercontainer div{ display: inline ; }
	.usercontainer{float: none;}
	.usernotifications {
	text-align: left;
   
}

/*.usermessages .togglenotification{padding-right:  11px;}
 .transparent
{
    padding-left: 12px; padding-right:  5px;
    padding-top: 2px; padding-bottom:  17px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;
}*/

.togglenotification{
	 background-color: black;
    padding-left: 5px; padding-right:  2px;
    padding-top: 2px; padding-bottom:  11px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;
}
.usermessages .togglenotification{padding-right:  4px;}
.transparent {
	padding-left: 5px; padding-right:  2px;
    padding-top: 2px; padding-bottom:  11px;
    opacity: 0.5;
    border-radius: 5px 5px 0px 0px;
}
#notificationWrapper, #messagesWrapper {float: none; 
	width: 75% ; padding:9px;  margin-left: 90px;
	margin-top: -22px;
}
.username{width: 100%; float: none; font-size : 0.5em ;}
/*.usernotifications, .usermessages{width: 50%; float: left }*/
#notificationWrapper, #messagesWrapper {float: left; width: 75% ; padding:9px;}
#ullist li .notcontent a.accept  { display: block; float: none; width:  20% }
#ullist li .notcontent a.reject  { display: inline; float: left; width: 20% }
.notcontent i {display: none;}

.usrPrflnm , .notificationsicon, .messagessicon  {font-size: 12px }

	.profilecover { height: 200px}
	.usercontainer{margin-top: 53px}
	.subcover {margin-bottom: -15px}
	.hire span {margin-top: -17px ; position: absolute;}

	.changeAvatar  span{font-size: 10px}
	.changeAvatar span {display:none}
	.avatarContainer{height: 60px ; width:60px ; margin-top: 45px;  border: 3px solid white; border-radius: 2px}
	.changeAvatar {width: 60px}
	.wall{font-size : 0.5em ; background-color: blue; width: 10%; height: 500px;}
	#notificationWrapper #ullist > li > p.owner, #messagesWrapper #ullist > li > p.owner  {font-size: 12px }
	#notificationWrapper #ullist li > p > a.owner , #messagesWrapper #ullist li > p > a.owner {display: block;float: none; width: 100% ; font-size: 12px}
.ullist header p  {font-size: 11px}
p.notcontent {font-size: 11px}
  .addrepertoireform {padding-right: 10%  }


 .addmemeberform span { font-size: 11px  }
 .addrepertoireform span:not(.addrepertoire){ font-size: 11px ; white-space: nowrap; }
 .addmemeberform input,.addmemeberform span:not(.addmember ):not(.savemember ) , .addmember div { 
 	display: none; float: none; white-space: nowrap; width: 55%; margin-bottom: 5px; }
 	.savemember {width: 100% ; display: block;}
.addrepertoireform input,   .addrepertoireform span:not(.addrepertoire) { 
 	display: none; float: none; width: 51%; margin-bottom: 5px; }
.addrepertoireform input , .addrepertoireform span:not(.saverepertoire) {width: 55% } 
.addrepertoireform span.saverepertoire , .addmemeberform span.savemember {width: 100% ; float: left;}
#memeberdiv #errors , #highlitsdiv #errors , #repertoirediv #errors {width: 100%}
#postcodediv #errors {margin-left: -70px}
/*.highlightslist {width: 100% ; margin-top: 50px; float: none;}*/
#memeberdiv , #highlitsdiv , #repertoirediv  {margin-bottom: 40px; height: auto}
.memeberslist , .highlightslist , .repertoirelist {width: 100% ; height: auto;  float: none; }
.addhighlightform {margin-top: 2px;}
.addadress { width: auto; display: block; }
.address-holder{margin-left: 0px}
.suggest-holder {width: 145px}
.suggest-holder input , .suggest-holder ul {width: 145px}
.ratingdiv p{ font-size: 8px ; margin-top: 5px}
.repRequest , .uploadsongdiv , .adddocument, .addnewalbum .uploadimgdiv ,.addevent, .uploadvideodiv{margin-top: 0px}
.addnewalbum {margin-top: -5px}
.uploadsongdiv , .uploadimgdiv,.addevent, .uploadvideodiv{margin-top: 2px}
.tabs li a  {display: inline;  }
.tabs li  {display: inline;  margin: 10px 10px 7px -5px}
.suggest-holder {margin-left: 10px}
#regioninput {margin-left: 25px}
#cityinput{margin-left: 45px}
.repRequest span , .uploadsongdiv span, .adddocument span, .addnewalbum span, .addevent span, .uploadimgdiv span,.uploadvideodiv span ,.uploadsongimgdiv span{ font-size: 9px;}
.bandnameinputsearch{display: inline; text-align: left;}
.bandtypesearch , .bandlocationsearch {display: block; margin: -10px 0px}
.savemember{display: none;}
#socialpageinput, #socialpageuserinput{width: 100%; float: none; font-size: 11px}
/*#socialpagespan a{width: 100%; float: none; font-size: 11px}
#socialspan {width: 100%; float: none; font-size: 11px}*/
#sociallinkdiv{height: auto; padding-bottom: 5px}
#socialpagediv{height: auto; padding-bottom: 20px}
.sociallabel{display: block}
}

/*chat slider*/
ul.chat-box {
	color: #3a4049;
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box li {
	background-color:  #3a4049;
    position: relative;
    z-index: 35;
    margin-bottom: 30px;
    padding-right: 65px;
}
.chat-box li {
    margin: 15px;
    padding: 0;
}
.chat-box li .status-badge {
    float: left;
    margin: 0 10px 0 0;
}
.status-badge {
    position: relative;
    display: inline-block;
}
.chat-box li b {
	color: white;
    font-size: 12px;
    display: block;
    padding: 4px 0 0;
}
b, strong {
    font-weight: 700;
}
.chat-box li p {
	color: white;
    font-size: 11px;
    opacity: .6;
}
.title-hero, p {
    margin-bottom: 25px;
}
p {
    line-height: 1.6em;
    margin: 0;
}
.chat-box li a.btn-md {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px;
    padding: 0 10px;
}
.btn-black {
    color: #ccc;
    border-color: #000;
    background: #2d2d2d;
}
.btn, .fc-button, .size-md {
    /*line-height: 32px;
    height: 34px;*/
}
.fc-head-container{background-color: #C0C0C0}
.fc-day-header span {color:rgba(255,102, 0, 0.8);}
.fc-view-container{ background-color:   white}
.fc-day-number, .fc-more{color: #000000}
span.removeEvent{float: right; margin-right: 0px}
#seecalendar span.removeEvent, #seecalendar span.fc-time{display: none}
#seecalendar span.fc-title{font-weight: bold;}
.no-border {
    border-color: transparent!important;
}
/*.btn{
    font-size: 14px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    -o-user-select: none;
}*/
.radius-all-100 {
	color: #7e7e7e;
    border-radius: 100px!important;
}
.chat-box li .status-badge .small-badge {
    border-color: #2a2a2a!important;
}
.status-badge .small-badge {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.bg-green{ 
 color: #fff;
    border-color: #8eca3f;
    background: #9cd159;
	    color: #fff;
    border-color: #8eca3f;
    background: #9cd159;
}
.slimScrollDiv{width: auto; height: 100%}
.slimscroll{background: rgba(0, 0, 0, 0.4);/*#3a4049;*/  overflow: hidden;  color: #9e9e9e; width: auto; height:100% }
.small-badge {
    overflow: hidden;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 2px solid #fff!important;
    border-radius: 20px;
}




.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/*@media screen and (max-height: 26.375em)*/
.cbp-spmenu-right {
    right: -190px;
}
/*@media screen and (max-height: 26.375em)*/
.cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
}
.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cbp-spmenu-right {
    right: -240px;
}
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 9999999;
}
.cbp-spmenu {
    background: #fff;
    position: fixed;
    -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
}
.cbp-spmenu h3 {
    font-size: 18px;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    color: black;
}
.closechat, .fa{color: black; display: inline-block;}
.chat  {position: relative; padding-bottom: 100px}
.chat .chat-item .chat-image  {float: left; display: inline-block;}
.chat-item img {display: block; width: 40px; border-radius: 50%; margin-right: 5px;}
.chat .chat-item .chat-message {position: relative; border-radius: 12px; padding: 4px 12px; 
max-width:  75%; background: #f1f1f1; display: inline-block;}
.chat .chat-item { display: block; padding: 10px 15px; width: 100%; overflow: hidden;}
.chat .chat-item-left .chat-message { margin-top: 5px }
.chat .chat-item-right .chat-message { margin-top: 5px ; float: right; color:#fff; background-color: #55BAA0 }
.chat-write {padding: 5px; background: #fff; position: absolute; bottom: 0; width: 240px;}
.chatfinder{padding: 5px; background: #fff; position: absolute; width: 240px;}
.chat-write input , .chatfinder input{
	width: 100%;
	background: #fff;
	border-radius: 0px;
	border: 1px solid #dce1e4;
	font-size: 13px;
    padding: 6px 10px !important;	
    display: block;
    height: 34px;
    color: #555;

}
/*@media screen and (max-height: 26.375em)*/
.cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
}
.cbp-spmenu h4 {height: 34px}
.cbp-spmenu h3 a {
    padding: 0;
}
.cbp-spmenu-vertical a {
    padding: 18px;
}
.cbp-spmenu a {
    display: block;
    color: #5f5f5f;
    font-size: 14px;
    text-decoration: none;
}
.slimscroll {
	overflow:scroll;
    background-color: #3a4049;
    /*background-color: rgba(0, 0, 0, 0 );*/
    color: #9e9e9e;
}
/*@media screen and (max-height: 26.375em)*/
.cbp-spmenu-right {
    right: -190px;
}

/*@media screen and (max-height: 26.375em)*/
.cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
}
.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cbp-spmenu-right {
    right: -240px;
}
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 9999999;
}
.cbp-spmenu {
    background: #fff;
    position: fixed;
    -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
    box-shadow: -1px 0 1px rgba(0, 0, 0, .05);
}




 





















