<template name="notFound">
 <div class="container">
    <div class="under_header">
      <img src="../../images/assets/breadcrumbs1.png" alt="#">
    </div>
    <div class="hero-unit center">
                  <h1>Page Under construction <small><font face="Tahoma" color="red">Error 404</font></small></h1>
                  <br />
                  <p>Comming soon ...</p>
                  <p><b>Or you could just press this neat little button:</b></p>
                  <a href="{{pathFor 'homeIndex'}}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                </div>
                <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    <div class="row">
      <div class="col-md-12">
          <div class="cover3">
            <div class="span12">
                
            </div>
          </div>
      </div>
    </div>
  </div>  
</template>