<template name="homeBands">
	<head>
 		<link rel="stylesheet" type="text/css" href="styles/shop.css" media="screen" />
    </head>
	<!--about us -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<div class="page-content back_to_up">
			<div class="row clearfix mb">
				<div class="breadcrumbIn">
					<ul>
						<li><a href="index.html" class="toptip" original-title="Homepage"> <i class="icon-home"></i> </a></li>
						<li> Artists/Bands </li>
					</ul>
				</div>
			</div>
			<div class="row row-fluid clearfix mbf">
				<div class="span8 posts">
					<div class="def-block">
						<h4> Bands </h4><span class="liner"></span>
							<div class="products shop clearfix">
							<div class="grid_14">
								{{#each artits}}
           							 {{> band}}
           						{{/each}} 
							</div>
							</div>
							<div class="pagination-tt clearfix">
								<ul>
									<li><span class="deactive">1</span></li>
									<li><a href="#" class="tbutton"><span>2</span></a></li>
									<li><a href="#" class="tbutton"><span>3</span></a></li>
									<li><span class="deactive">...</span></li>
									<li><a href="#" class="tbutton"><span>8</span></a></li>
								</ul>
								<span class="pages">Page 1 of 8</span>
							</div>

					</div>
				</div>
				<div class="span4 sidebar">
					<div class="def-block widget">
						<h4> Shopping Cart </h4><span class="liner"></span>
						<div class="widget-content">
							<p> <i class="icons-bag mid" style="font-size: 40px;vertical-align: middle;"></i> Your Shopping Cart is Empty </p>
						</div>
					</div>
					<div class="def-block widget">
						<h4> Products Categories </h4><span class="liner"></span>
						<div class="widget-content">
							<ul class="list">
								<li><a href="#"><i class="icon-caret-right"></i> T-shirts (7) </a></li>
								<li><a href="#"><i class="icon-caret-right"></i> Bags (13)</a></li>
								<li><a href="#"><i class="icon-caret-right"></i> VSTi (10)</a></li>
								<li><a href="#"><i class="icon-caret-right"></i> Plugins (54)</a></li>
							</ul>
						</div>
					</div>

					<div class="def-block widget">
						<h4> Top Sales </h4><span class="liner"></span>
						<div class="widget-content">
							<ul class="tab-content-items">
								<li class="clearfix">
									<a class="post-thumbnail" href="shop_single.html"><img width="60" height="60" src="images/assets/shop/thumb1.jpg" alt="#"></a>
									<h3><a href="shop_single.html">Next Elections Resolutions could be</a></h3>
									<p class="rating"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i> </p>
								</li>
								<li class="clearfix">
									<a class="post-thumbnail" href="shop_single.html"><img width="60" height="60" src="images/assets/shop/thumb1.jpg" alt="#"></a>
									<h3><a href="shop_single.html">Praesent adipiscing mi eget ipsum imperdiet</a></h3>
									<p class="rating"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> </p>
								</li>
								<li class="clearfix">
									<a class="post-thumbnail" href="shop_single.html"><img width="60" height="60" src="images/assets/shop/thumb1.jpg" alt="#"></a>
									<h3><a href="shop_single.html">Paul Thomson on Post with SoundCloud</a></h3>
									<p class="rating"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i> </p>
								</li>
							</ul>
						</div>
					</div>
					<div class="def-block widget">
						<h4> Tags </h4><span class="liner"></span>
						<div class="widget-content tags">
							<a href="#" class="toptip" original-title="17 Product"><i class="icon-tag"></i> T-shirt </a>
							<a href="#" class="toptip" original-title="44 Product"><i class="icon-tag"></i> Bag </a>
							<a href="#" class="toptip" original-title="1 Product"><i class="icon-tag"></i> pro </a>
							<a href="#" class="toptip" original-title="10 Product"><i class="icon-tag"></i> Book </a>
							<a href="#" class="toptip" original-title="29 Product"><i class="icon-tag"></i> Sports </a>
							<a href="#" class="toptip" original-title="2 Product"><i class="icon-tag"></i> premium </a>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>
<template name="band">
	<div class="product grid_3">
									<img class="product_img" src="images/assets/shop/1.jpg" alt="">
									<img class="product_img_hover" src="images/assets/shop/1.jpg" alt="">
									<div class="sale"><i class="icon-thumbs-up"></i></div>
									<div class="product_inner">
										<h3> <a href="shop_product.html">{{profile.name}} </a> </h3>
										<div class="clearfix">
											<p class="price"> $789 </p>
											<p class="rating">
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
											</p>
										</div>
									</div>
									<div class="product_meta clearfix">
										<a href="shop_product.html" class="f_btn add_c"><span><i class="glyphicon glyphicon-hand-right"></i> Hire</span></a>
										<a href="{{pathFor 'seeprofile'}}" class="f_btn"><span><i class="glyphicon glyphicon-user"></i> see Profile</span></a>
									</div>
								</div>

</template>