<template name="homeEvents">
        <div class="under_header">
			<img src="images/assets/breadcrumbs13.png" alt="#">
        </div><!-- under header -->

		<div class="page-content back_to_up">
			<div class="row clearfix mb">
				<div class="breadcrumbIn">
					<ul>
						<li><a href="index.html" class="toptip" original-title="Homepage"> <i class="icon-home"></i> </a></li>
						<li> Events </li>
					</ul>
				</div><!-- breadcrumbIn -->
			</div><!-- row -->

			<div class="row row-fluid clearfix mbf">
				<div class="posts">
					<div class="def-block">
						<h4 id="name">Events</h4><span class="liner"></span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


						<!-- Event Calendar -->
							<div id="evcal_calendar_1" class="ajde_evcal_calendar clearfix">
								<div id="evcal_head" class="calendar_header">					
									<a id="evcal_prev" class="evcal_arrows evcal_btn_prev"><i class="icon-angle-left"></i></a>
									<p id="evcal_cur">{{ currentMonth }}, {{currentYear}} </p>
									<a id="evcal_next" class="evcal_arrows evcal_btn_next"><i class="icon-angle-right"></i></a>
									<div class="clear"></div>
								</div>
							</div>
							
							<div class="eventon_fullcal">
								<div class="eventon_fc_daynames">
									<p class="evo_fc_day">Sun</p>
									<p class="evo_fc_day">Mon</p>
									<p class="evo_fc_day">Tue</p>
									<p class="evo_fc_day">Wed</p>
									<p class="evo_fc_day">Thu</p>
									<p class="evo_fc_day">Fri</p>
									<p class="evo_fc_day">Sat</p>
									<div class="clear"></div>
								</div><!-- week days -->
							
								<div class="eventon_fc_days">
									<!--<p class="evo_fc_day"></p>
									<p class="evo_fc_day"></p>
									<p class="evo_fc_day"></p>
									<p class="evo_fc_day"></p>
									<p class="evo_fc_day"></p>
									<p class="evo_fc_day"></p>
									<p class="evo_fc_day">1</p>
									<p class="evo_fc_day">2</p>
									<p class="evo_fc_day has_events">3</p>
									<p class="evo_fc_day has_events on_focus">4</p>
									<p class="evo_fc_day">5</p>
									<p class="evo_fc_day has_events">6</p>
									<p class="evo_fc_day">7</p>
									<p class="evo_fc_day">8</p>
									<p class="evo_fc_day">9</p>
									<p class="evo_fc_day">10</p>
									<p class="evo_fc_day">11</p>
									<p class="evo_fc_day">12</p>
									<p class="evo_fc_day">13</p>
									<p class="evo_fc_day has_events">14</p>
									<p class="evo_fc_day has_events">15</p>
									<p class="evo_fc_day">16</p>
									<p class="evo_fc_day">17</p>
									<p class="evo_fc_day">18</p>
									<p class="evo_fc_day">19</p>
									<p class="evo_fc_day">20</p>
									<p class="evo_fc_day">21</p>
									<p class="evo_fc_day">22</p>
									<p class="evo_fc_day">23</p>
									<p class="evo_fc_day">24</p>
									<p class="evo_fc_day">25</p>
									<p class="evo_fc_day">26</p>
									<p class="evo_fc_day">27</p>
									<p class="evo_fc_day">28</p>
									<p class="evo_fc_day">29</p>
									<p class="evo_fc_day">30</p>-->
									<!--<div class="clear"></div>	-->			
								</div><!-- days -->
							</div><!-- fullcal -->
						    
							<div id="evcal_list" class="eventon_events_list" style="display: block;">
								<div class="eventon_list_event">
									<a class="evcal_list_a desc_trig mul_val">
										<p class="evcal_cblock">4<span> - 12</span><em class="evo_month"></em></p>
										<p class="evcal_desc">
											<span class="evcal_desc2 evcal_event_title">Event with eventbrite integration</span>
											<span class="evcal_desc_info"><em class="evcal_time">September 4 9:00 am - September 12 10:00 am</em> </span>
										</p>
									</a>
								</div>
							</div><!-- event list -->
						<!-- Event Calendar -->


					</div><!-- def block -->
				</div><!-- posts -->

			</div><!-- row clearfix -->
		</div><!-- end page content -->

</template>