<!--<template name="resetPassword">
{{> NewPasswordTemplate}}
</template>
<template name="NewPasswordTemplate" >
 <div id="popupNewPassword">
      <div class="def-block widget">
        <h4> New Password  </h4><span class="liner"></span>        
        <div class="widget-content row-fluid">
          {{> newPasswordForm}}
        </div>
      </div>
      <div id="popup_new_pass">x</div>
    </div>
    <div id="new_pw_bg"></div> 
</template> 
<template name="newPasswordForm">
  <form id="popup_newPassword_form">
            <div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="login_password" id="signup_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
             
            </div>
            <div class="input-group input-group-lg">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="login_retypePassword" id="signup_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
            </div>  
                <a href="#" id="new_password" class="tbutton small"><span>Change</span></a>
                <a href="#" id="new_password_cancel" class="tbutton color2 small"><span>Cancel</span></a>
  </form>
</template>-->