<template name="homeProfile">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="profilecover">
 <img class = "coverImage" src="images/5.jpeg" />
  <div class="subcover">
    <div class="avatarContainer">
      <div class="changeAvatar">
        <br>
        <span>change avatar</span>
      </div>
      <img class = "avatarImage" src="images/avatarProfileM3.png" />
    </div>
    <div class="usercontainer">
      <div class="username">
        <span class="usrPrflnm">{{ myusername currentUser}}
        </span>
      </div>
      <div class="usernotifications">
        <span class="notificationsicon" alt="Notifications" title="Notifications">
          <span class="notificationcount" value="{{counter}}">{{counter}}
          </span>
          <i class="glyphicon glyphicon-globe" alt="NOtifications" title="NOtifications"></i>
        </span>
      </div>
      <div class="usermessages dropdown" >
        <span class="messagessicon  dropdown-toggle" data-toggle="dropdown" alt="Messages" title="Messages">
          <i class="glyphicon glyphicon-envelope" alt="Messages" title="Messages"></i>
        </span>
        <ul class="dropdown-menu" id="messagesList" > 
          <li>
            <a href="{{pathFor 'homeProfile'}}">Messages 1
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#">Stats
              <span class="glyphicon glyphicon-stats pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li id="profileMessages">
            <a href="#" >Messages 2
              <span class="badge pull-right"> 42 
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#">Messages 3
              <span class="glyphicon glyphicon-heart pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#" id="logOut">Messages 4
              <span class="glyphicon glyphicon-log-out pull-right">
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div id="notificationWrapper">
        <div id="notificationTitle"> 
          <h4> NOTIFICATIONS </h4>
          <span class="liner">
          </span>
        </div>
        <div id="notificationList">
          <ul id="ullist" class="ullist"> 
            {{#if emtyNotifcations }}
              <p class="emptynot"> there is no notifications</p>
            {{/if}}                  
            {{# each notifications}}
              {{> notification}}
            {{/each}}
          </ul>
        </div>  
      </div>
    </div>  
  </div>
  <div class="changeCover">
    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;">
      <span class="glyphicon glyphicon-picture">
      </span> Change cover
    </a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="posts tabprofile">
  <div class="def-block">
    <div class="topbar">
      <div id="close" class="tbutton small tback reprequest">
        <span>Send representation request
        </span>
      </div>
      <div id="close" class="tbutton small tback">
        <span> Back to Albums
        </span>
      </div>
        <!--<span class="addAlbum">add new album</span><span class="liner"></span>-->
    </div>
    <ul class="tabs">
      <li><a href="#Latest" class="active details"> Details </a></li>
      <li><a href="#Featured"> Mp3 </a></li>
      <li><a href="#Lightbox"> Photo gallery </a></li>
      <li><a href="#Lightbox"> Video </a></li>
      <li><a href="#Lightbox"> Events </a></li>
      <li><a href="#Lightbox"> Calender </a></li>
    </ul>
    <ul class="tabs-content ">
      <li id="Latest" class="active">
        <div class="userinfocontent">
          <!--<div class="rachini">
             <input type="text" id="birthinput" class=" date date-1" />
          </div>-->
          {{# if bandprofile  currentUser.profile.type }}
             {{> bandInformations}}
          {{/if}}
          {{# if userprofile currentUser.profile.type }}
            {{> userInformations}}
          {{/if}}
        </div>
      </li>
      <li id="Featured">
        <div class="video-grid">
          <div class="row clearfix mbf">
            <div class="music-player-list">
            </div>
          </div>
        </div>
      </li>
      <li id="Lightbox">
        <div class="video-grid">
          <!--<ul id="tp-grid" class="tp-grid">
            {{#each images}}
              {{> task}}
            {{/each}}   
          </ul>
          {{> imageUploader}}-->
        </div>
      </li>
    </ul>
  </div>
</div>
      <!--</div>--><!-- row clearfix -->      
</template>    

<template name="homeProfile2">
<div class="cover2">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="../../images/5.jpeg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="../../images/avatarProfileM2.png" alt="Profile image example"/>
         <table class="wallInfoTable">
                    <tbody>
                      <tr>
                        <td>
                          <span class="usrPrflnm">{{myusername currentUser.profile.name}}</span>           
                        </td>
                        <td>        
                          <span class="notificationsicon" alt="Notifications" title="Notifications">
                             <span class="notification-count" value="{{counter}}">{{counter}}</span>
                             <i class="glyphicon glyphicon-globe" alt="NOtifications" title="NOtifications"></i>
                          </span>
                          <span class="messagessicon" alt="Messages" title="Messages">
                              <i class="glyphicon glyphicon-envelope" alt="Messages" title="Messages"></i>
                        </span>
                        <!--notification panel template-->
                              <div class="container profile">
                                <div class="col-sm-7 sm-margin-bottom-30">
                                    <div class="panel panel-profile">
                                        <div class="panel-heading overflow-h">
                                            <h2 class="panel-title heading-sm pull-left">Notifications</h2>
                                            <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                        </div>
                                        <div id="scrollbar3" class="panel-body contentHolder ps-container">
                                          {{# each notifications}}
                                          {{> notification}}
                                          {{/each}}
                                        <div class="ps-scrollbar-x-rail" style="width: 459px; display: none; left: 0px; bottom: -100px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 103px; height: 320px; display: inherit; right: 3px;"><div class="ps-scrollbar-y" style="top: 78px; height: 242px;"></div></div></div>
                                    </div>
                                </div>
                              </div>
                             <!--end notification panel template-->
                        </td>
                      </tr>
                      <tr>
                        <td>{{currentUser.profile.name}} is 
                        </td>
                        <td><span class="userType" value="{{currentUser.profile.type}}">{{currentUser.profile.type}}</span>
                        </td>  
                      </tr>
                      <tr>
                        <td>full name:</td>
                        <td>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}} </td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{currentUser.emails.[0].address}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        {{# if currentUser.profile.birthdate }}
                            <td>{{currentUser.profile.birthdate}}</td>
                        {{else}}
                                  <td>not setted</td>
                        {{/if}}   
                      </tr>
                      <tr>
                        <td>Gender</td>
                        {{# if currentUser.profile.gender }}
                            <td>{{currentUser.profile.gender}}</td>
                        {{else}}
                                  <td>Click here to set your gender</td>
                        {{/if}}   
                      </tr>
                      <tr>
                        <td>Home Address</td>
                        {{# if currentUser.profile.country }}
                            <td>{{currentUser.profile.country}}</td>
                        {{else}}
                                  <td>Click here to set your address</td>
                        {{/if}}  
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        {{# if currentUser.profile.phoneNumber }}
                            <td>{{currentUser.profile.phoneNumber}}(mobile)</td>
                        {{else}}
                                  <td>Click here to set your phne number</td>
                        {{/if}}  
                      </tr>
                      <tr>
                        <td>Publicity Code</td>
                        <td>{{currentUser.profile.publicityCode}}
                        </td>
                      </tr>
                      <tr>
                        <td>Status:</td>
                        <td>{{currentUser.profile.Status}}</td>
                      </tr>
                      <tr>
                        <td>Publicity Counter:</td>
                        <td>{{currentUser.profile.publicityCounter}}</td>
                      </tr>
                    </tbody>
                  </table>
     
    </div>
</div>
      <br>
      <br>
      <br>
      <div class="posts">
        <div class="def-block" style="min-height: 400px;">
          <div class="topbar">
            <div id="close" class="tbutton small tback"><span> Back to Albums</span></div>
            <h4 id="name">Photo Gallery</h4>
            <span class="addAlbum">add new album</span><span class="liner"></span>
          </div>
          <ul id="tp-grid" class="tp-grid">
            {{#each images}}
            {{> task}}
          {{/each}}   
          </ul>
          {{> imageUploader}}
          {{> newAlbum}}
          <!--<div>
    <div id="removeImgCnfrm">
      <div class="def-block widget">
        <h4>Removing Image</h4><span class="liner"></span><div class="widget-content row-fluid">
          <form id="pop_rstpwd_frm">
            <div class="input-group input-group-lg">
              <label class="processmsg">Are you sure to remove </label>   
            </div> 
            <a href="#" id="reset_mail_send" class="tbutton small rvc"><span>Remove</span></a>
            <a href="#" id="reset_mail_cancel" class="tbutton color2 small"><span>Cancel</span></a>
          </form>
        </div>
      </div>
  </div>
  <div id="removeImgbg"></div>
</div>-->
  
        </div>
      </div>
<div id="processingImage">
  <div id="process">
      <div class="def-block widget">
        <h4>Processing Image</h4><span class="liner"></span><div class="widget-content row-fluid">
          <form id="pop_rstpwd_frm">
            <div class="input-group input-group-lg">
              <label class="processmsg">Please Wait ...</label>   
            </div> 
          </form>
        </div>
      </div>
  </div>
  <div id="processbg"></div> 
</div>      
 </template>    
<template name="task">
  <li data-pile="{{imageFolder}}" class="grid_3" id="{{imageFolder}}">
    <div class="removeDiv">
    <span class="removeImage">X</span>
    </div>
      <a href="{{imageurl}}" rel="prettyPhoto[{{imageFolder}}]">
      <img  src="{{imageurl}}" alt="{{imageName}}" />
    </a>
   </li>
   <br>
   <br>
   <br>
   <img src="{{imageurl}}" alt="{{imageurl}}" caption="{{imageName}}" /> 
   <br>  
   </template>
<template name="newAlbum">    
  <div id="popupnewalbbum">
      <div class="def-block widget">
        <h4> New Album  </h4><span id="errorMsgAlb" value=""></span><span class="liner"></span><div class="widget-content row-fluid">
          <form id="pop_rstpwd_frm">
            <div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt="Album name" title="Album name"><i class="glyphicon glyphicon-folder-open registerForm" alt="Album name" title="Album name"></i></span>
                 <input type="text" alt="album name" title="album name" name="album_name" id="album_name" onfocus="if (this.value=='') this.value = '';" onblur="if (this.value=='') this.value = '';" value="" placeholder="Album name">
                 <i id="validAlmName" class="glyphicon"></i>
            </div> 
                <a href="#" id="createAlbum" class="tbutton small"><span>Add</span></a>
                <a href="#" id="cancelAddAlbm" class="tbutton color2 small"><span>Cancel</span></a>
          </form>
        </div>
      </div>
      <div id="popupAlmClose">x</div>
  </div>
  <div id="new_al_bg"></div> 
</template>
<template name="imageUploader">
  <!--<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <span style="font-size:15px; margin-left:10px;">
        <div class="form-group">
          <p class="help-block">Upload image here. {{progress}} % Complete </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="sr-only currentprogress">{{progress}} % Completeeeee</span>
          </div>
        </div>
      </span>
    </div>
    {{isUploading}}
  </div>-->   
  <div class="fileUpload"> 
    <input type="file"  class="uploadFile upload" id="uploadFile">
    <span class="addImage">add new image</span>
  </div>

  <input type="button" class="uploading" value="uploading" />
  <br>
  <div id="myProgress">
    <span id="progressUploading"> {{progress}} %</span>
  <div id="myBar" style="width: {{progress}}%;"></div>
</div>
<div class="cropper">
    <div id="givs">
      next image
     <img class="img-responsive" id="image" src="" alt="Picture" width="670" height="525">
    </div>
    <canvas id="myCanvas" width="670"  height="525" style="border:1px solid #d3d3d3;">
    </canvas>    
    <img id="rac" src="" width="670"  height="525">
  </div>
</template>
<template name="notification">
 <li class="notification-box notification-box-one notification" id="{{_id}}">
              <header><p> {{type}} </p><p>{{formatdate time }}</p>
              </header>
              <br>
              <p class="notcontent"><i class="glyphicon glyphicon-globe"></i>
                {{#if notificationReciever status recieverId _id currentUser._id  }}
                 <a href="/Artists/{{ownerId}}" class="owner" id="{{ownerId}}" value="{{ownerName}}">{{ownerName}}</a> {{status}} your {{type}} 
                {{/if}}
                  
                {{#if notificationOwner status recieverId _id currentUser._id  }}
                 
                 <a href="/Artists/{{ownerId}}" class="owner" id="{{ownerId}}" value="{{ownerName}}">{{ownerName}}</a> {{type}} is {{status}}TED
                {{/if}}
                {{#if compareStatus status recieverId _id currentUser._id  }}
                   <a href="/Artists/{{ownerId}}" class="owner" id="{{ownerId}}" value="{{ownerName}}">{{ownerName}}</a> sent for you {{type}}
                    <a href="#" id="{{ownerId}}" class="reject">Reject</a>
                    <a href="#" id="{{ownerId}}" class="accept" value="{{owner}}" >Accept</a>

                                                    {{/if}}</p>
    
                <a href="#" id="{{_id}}"  class="removenotif notification-close remove toptip" original-title="remove notification" alt="Remove notification"><i class="icon-remove"></i></a>
  </li>
  
</template>
<template name="bandInformations">
      <div id="informationconatiner" >
        <div id="usernamediv" class="userinforow">
          <span class="oldinfo bld">username:</span><span class="oldinfo bld" id="usernamespan" disabled="disabled">{{currentUser.username}}</span>
        </div>
        <div id="bandnamediv" class="userinforow">
          <span class="oldinfo bld">Band name:</span>
          <span id="bandnamespan" class="oldinfo bld">{{mybandname currentUser}}</span>
          <input type="text" id="bandnameinput" class="oldinfo bld " value="{{mybandname currentUser}}"/>
          <span id="updatebandname" class="updatebandname bld oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update band name" title="update band name"></i>
          </span>
          <span class="savebandname bld">save</span>
          <div id="errors">
            <span id="emtybandname" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="bandnameerr" class="oldinfo error"></span>
          </div>
        </div>
        <div id="bandtypediv" class="userinforow">
          <span class="bandtypeslabel oldinfo bld">Band type: </span>
          <span id="bandtypespan" class="oldinfo bld">{{mybandtype currentUser.profile.bandtype}}</span>
        <input type="text" id="bandtypeinput" class="oldinfo" value="{{mybandtype currentUser.profile.bandtype}}"/>
        <select class="bandtype">
          <option value="Alabama">Alabama</option>
          <option value="Concert">Concert</option>
          <option value="Family">Family</option>
          <option value="Jazz">Jazz</option>
          <option value="Orchestra">Orchestra </option>
          <option value="Pope">Pope </option>
          <option value="Rock">Rock</option>
          <option value="School">School</option>
          <option value="Wedding">Wedding</option>
        </select>
          <span class="updatebandtype oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update first name" title="update band type"></i>
          </span>
          <span class="savebandtype bld oldinfo">save</span>
          <div id="errors">
            <span id="emtyfirstname" class="error  oldinfo"><i  class=" glyphicon glyphicon-asterisk "></i></span>
           <span id="firstnameerr" class="error oldinfo"></span>
          </div>
        </div>
        <div id="setsdiv" class="userinforow">
          <span class="oldinfo bld">Acoustic Sets: </span>
          <span id="bandsetsspan" class="oldinfo bld">{{bandsets currentUser.profile.sets}}</span>
        <input type="text" id="bandsetsinput" class="oldinfo" value="{{bandsets currentUser.profile.sets}}"/>
        <select class="bandsets">
          <option value="1 X 1H.30 min">1 X 1H.30 min</option>
          <option value="2 X 45 min">2 X 45 min</option>
          <option value="3 X 30min">3 X 30min</option>
          <option value="other">other</option>
        </select>
        <span class="updatebandsets oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update band sets " title="update band sets"></i>
          </span>
          <span class="savebandsets bld oldinfo">save</span>
        </div>
        <div id="agentdiv" class="userinforow">
          <span class="oldinfo bld">Agent: </span>
          <span id="salaryspan" class="oldinfo bld" alt="set only by agent" title="set only by agent">
              {{myagent currentUser }}
          </span>
        </div>
        <div id="salarydiv" class="userinforow">
          <span class="oldinfo bld">Salary: </span>
          <span id="salaryspan" class="oldinfo bld" alt="set only by agent" title="set only by agent">
            {{# if currentUser.profile.salary }} 
              {{currentUser.profile.salary}} $
            {{else}}
                not setted
            {{/if}}
          </span>
        </div>
        
        <div id="emaildiv" class="userinforow">
          <span class="oldinfo bld">Email: </span>
          <span id="emailspan" class="oldinfo bld">{{currentUser.emails.[0].address}}</span>
          <input type="text" id="emailinput" class="oldinfo" />
        </div>
        <div id="phonediv" class="userinforow">
          <span class="oldinfo bld">phone number: </span>
          <span id="phonesspan" class="oldinfo bld">
            {{# if currentUser.profile.phoneNumber }}
              {{myphonenumber currentUser.profile.phoneNumber}}
            {{else}}
                not setted
            {{/if}}
          </span>
          <input type="text" id="phoneinput" class="oldinfo" value="{{myphonenumber currentUser.profile.phoneNumber }}" placehoder="**** *** ***" />
          <span class="updatephone oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update phone number" title="update phone  number"></i>
          </span>
          <span class="savephonenumber bld">save</span>
          <div id="errors">
          <span id="emtyphone" class="oldinfo error">
            <i class=" glyphicon glyphicon-asterisk"></i>
          </span>
          <span id="phoneerr" class="error"></span>
        </div>
        </div>
        <div id="memeberdiv" class="userinforow ">
          <span class="bld memeberlabel mytitle">Members </span>
          <div class="addmemeberform">
            <span class=" bld spanmemebername">mumber name: </span>
            <input type="text" class="inputmemebername" placeholder="first & last name"/>
            <span class=" bld memeberrolespan">mumber role: </span>
            <input type="text"  class="memeberoleinput " placeholder="pianist / singer leader" />
            <span class="bld addmember">
             <i class="glyphicon glyphicon-plus" alt="update first name" title="update first name"></i> add new member
            </span>
            <span class="savemember bld">save</span>
          </div>
          <div id="errors">
            <span id="emtymember" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="bandmembereerr" class="oldinfo error"></span>
          </div>
        </div>
        <br>
        <div class="userinforow memeberslist ">
          <ul class="bandmembers">
            {{#each allmemebers.profile.members}}
            <li>
              <span class="bld member">{{incrementedindex @index}} : 
                <span id="name">{{name}}</span>-
                <span id="role">{{role}}</span>
              </span>
              <span class="removeMumber">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
        <div id="highlitsdiv" class="userinforow ">
          <span class="bld memeberlabel mytitle">Highlights </span>
          <div class="addhighlightform">
            <span class=" bld spanhighlight">text: </span>
            <input type="text" class="inputhighlight" placeholder="highlight content"/>
            <span class="bld addhighlight">
             <i class="glyphicon glyphicon-plus" alt="add highlight" title="add highlight"></i> add new Highlight
            </span>
            <span class="savehighlight bld">save</span>
          </div>
          <div id="errors">
            <span id="emtyhighlight" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="highlighteerr" class="oldinfo error"></span>
          </div>
        </div>
        <br>
        <div class="userinforow highlightslist ">
          <ul class="highlights">
            {{#each allmemebers.profile.highlights}}
              <li>
              <span class="bld highlight">- 
                <span id="content" value="{{id}}">{{content}}</span>
              </span>
              <span class="removeHighlight">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
        <div id="repertoirediv" class="userinforow ">
          <span class="bld listsetlabel mytitle">List Sets </span>
          <div class="addrepertoireform">
            <span class=" bld repertoiresongname">Song title: </span>
            <input type="text" class="inputrepertoirename" placeholder="song name"/>
            <span class=" bld repertoiresinger">Singer: </span>
            <input type="text"  class="repertoiresingerinput" placeholder="singer name" />
            <span class="bld addrepertoire">
             <i class="glyphicon glyphicon-plus" alt="update first name" title="update first name"></i> add new song
            </span>
            <span class=" saverepertoire bld">save</span>
          </div>
          <div id="errors">
            <span id="emptyrepertoire" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="repertoireerr" class="oldinfo error"></span>
          </div>
        </div>
        <br>
        <div class="userinforow  repertoirelist ">
          <ul class="repertoireullist">
            {{#each allmemebers.profile.repertoire}}
            <li>
              <span class="bld repertoire">+
                <span id="singername">{{singername}}</span>-
                <span id="songname">{{songname}}</span>
                
              </span>
              <span class="removerepertoire">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
        <div id="pubcodediv" class="userinforow">
          <span class="oldinfo bld">publicity code: </span>
          <span id="pubspan" class="oldinfo bld">
              {{currentUser.profile.publicityCode}}
          </span>
        </div>
        <div id="pubcounterdiv" class="userinforow">
          <span class="oldinfo bld">publicity counter: </span>
          <span id="pubcounterspan" class="oldinfo bld">
              {{currentUser.profile.publicityCounter}}
          </span>
        </div>
        <div id="statusdiv" class="userinforow">
          <span class="oldinfo bld">profile status: </span>
          <span id="statusspan" class="oldinfo bld">
              {{currentUser.profile.Status}}
          </span>
        </div>
        <h6> Address </h6>
        <div id="countrydiv" class="userinforow">
          <span class="oldinfo bld">country name: </span>
          <span id="countryspan " class="oldinfo bld">Uk
           <!-- {{# if currentUser.profile.country }}
              {{currentUser.profile.country}}
            {{else}}
                not setted
            {{/if}}   -->
          </span>
         <!-- <input type="text" id="countryinput" class="oldinfo"/>
          <span class="updatecountry oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update country" title="update country"></i>
          </span>
          <span class="savecountry bld">save</span>
          <span id="countryerr" class="oldinfo error"></span>-->
        </div>
        <div id="postcodediv" class="userinforow">
          <span class="oldinfo bld">post code: </span>
          <span id="postecodespan" class="oldinfo bld">
            {{# if currentUser.profile.address.postecode }}
              {{ currentUser.profile.address.postecode}}
            {{else}}
                not setted
            {{/if}}
          </span>
          <div class="addpostecode userinforow">
          <div class='suggest-holder'>
            <input type='text' class='suggest-prompt'>
            <ul class="zonecodes">
            </ul>
          </div>
          <span class="updatepostecode oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update post code" title="update post code"></i>
          </span>
          <span class="savepostecode bld">save</span>
          <div id="errors">
            <span id="emptypostecode" class="error oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="emptypostecodeerr" class="error oldinfo"></span>
          </div>
        </div>
      </div>
      <!--
      <div id="bandnamediv" class="userinforow">
          <span class="oldinfo bld">Band name:</span>
          <span id="bandnamespan" class="oldinfo bld">{{mybandname currentUser}}</span>
          <input type="text" id="bandnameinput" class="oldinfo bld " value="{{mybandname currentUser}}"/>
          <span id="updatebandname" class="updatebandnameoldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update band name" title="update band name"></i>
          </span>
          <span class="savebandname bld">save</span>
          <div id="errors">
            <span id="emtybandname" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="bandnameerr" class="oldinfo error"></span>
          </div>
        </div>
      -->
        <div id="regiondiv" class="userinforow">
          <span class="oldinfo bld ">Region: </span>
          <span id="regionspan" class="oldinfo bld">
            {{# if currentUser.profile.address.region }}
              {{currentUser.profile.address.region}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="regioninput" class="oldinfo bld" value="{{currentUser.profile.address.region}}"/>
          <span class="updateregion bld">
            <i class="glyphicon glyphicon-pencil" alt="update city name" title="update city name"></i>
          </span>
          <span class="saveregion bld">save</span>
          <div id="errors">
            <span id="emptyregion" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="emptyregionerr" class="oldinfo error"></span>
          </div>
        </div>
        <div id="citydiv" class="userinforow">
          <span class="oldinfo bld ">city: </span>
          <span id="cityspan" class="oldinfo bld">
            {{# if currentUser.profile.address.city }}
              {{currentUser.profile.address.city}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="cityinput" class="oldinfo bld" value="{{currentUser.profile.address.city}}"/><!-- class="oldinfo"/>-->
          <span class="updatecity bld">
            <i class="glyphicon glyphicon-pencil" alt="update city name" title="update city name"></i>
          </span>
          <span class="savecity bld">save</span>
          <div id="errors">
            <span id="emptycity" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="emptycityerr" class="oldinfo error"></span>
          </div>
        </div>
        <div id="addressdiv" class="userinforow">
          <span class="oldinfo bld">Address: </span>
          <span id="addressspan" class="oldinfo bld">
            {{# if currentUser.profile.address.address }}
              {{ currentUser.profile.address.address}}
            {{else}}
                not setted
            {{/if}}
          </span>
          <div class="addadress userinforow">
          <div class='address-holder'>
            <input type='text' class='inputaddress' value="{{ currentUser.profile.address.address}}">
            <ul class="address" id="uladdress">
            </ul>
          </div>
          <span class="updateaddress oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update post code" title="update post code"></i>
          </span>
          <span class="saveaddress bld">save</span>
          <div id="errors">
            <span id="emptyaddress" class="error oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="emptyaddresserr" class="error oldinfo"></span>
          </div>
        </div>
      </div>
        <!--<div id="addressdiv" class="userinforow">
          <span class="oldinfo bld">Address: </span>
          <span id="addresspan" class="oldinfo bld">
            {{# if currentUser.profile.address }}
              {{currentUser.profile.address}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="addressinput">
          <span class="updateaddress oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update ddress" title="update address "></i>
          </span>
          <span class="saveaddress bld">save</span>
          <span id="saveaddresserr" class="oldinfo error"></span>
        </div>-->    
        <!--<div id="buildingnumberdiv" class="userinforow">
          <span class="oldinfo bld">Building number: </span>
          <span id="buildingnumberspan " class="oldinfo bld">
            {{# if currentUser.profile.buildingNumber }}
              {{currentUser.profile.buildingNumber}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="buildingnumberinput" class="oldinfo"/>
          <span class="updatebuildingnumber oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update building" title="update building number"></i>
          </span>
          <span class="savebuildingnumber bld">save</span>
          <span id="buildingnumbererr" class="oldinfo error"></span>
        </div>
        <div id="streetnamediv" class="userinforow">
          <span class="oldinfo bld">street name: </span>
          <span id="streetnamespan" class="oldinfo bld">
            {{# if currentUser.profile.streetname }}
              {{currentUser.profile.streetname}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="streetnameinput" class="oldinfo bld"/>
          <span class="updatestreetname oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update street name" title="update street name"></i>
          </span>
          <span class="savestreetname bld">save</span>
          <span id="streetnameerr" class="oldinfo error"></span>
        </div>--> 
      </div>
      <br>
      <br>
      <br>
      <br>

</template> 
<template name="userInformations ">
      <div id="informationconat1ner" >
        <div id="usernamediv" class="userinforow">
          <span class="oldinfo bld">full name:</span>
          <span class="oldinfo bld" id="usernamespan" disabled="disabled">{{currentUser.profile.name}}</span>
        </div>  
        <div id="firstnamediv" class="userinforow">
          <span class="oldinfo bld">First name: </span>
          <span id="firstnamespan" class="oldinfo bld">{{currentUser.profile.firstname}}</span>
          <input type="text" id="firstnameinput" class="oldinfo" value="{{currentUser.profile.firstname}}"/>
          <span class="updatefirstname oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update first name" title="update first name"></i>
          </span>
          <span class="savefirstname bld oldinfo">save</span>
          <div id="errors">
            <span id="emtyfirstname" class="error  oldinfo">
              <i  class=" glyphicon glyphicon-asterisk "></i>
            </span>
            <span id="firstnameerr" class="error oldinfo"></span>
          </div>
        </div>

        <div id="lastnamediv" class="userinforow">
          <span class="oldinfo bld">Last name:</span>
          <span id="lastnamespan" class="oldinfo bld">{{currentUser.profile.lastname}}</span>
          <input type="text" id="lastnameinput" class="oldinfo bld " value="{{currentUser.profile.lastname}}"/>
          <span class="updatelastname bld oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update last name" title="update last name"></i>
          </span>
          <span class="savelastname bld">save</span>
          <div id="errors">
            <span id="emtylastname" class="error  oldinfo">
              <i class=" glyphicon glyphicon-asterisk"></i>
            </span>
            <span id="lastnameerr" class="oldinfo error"></span>
          </div>
        </div>
        <div id="emaildiv" class="userinforow">
          <span class="oldinfo bld">Email: </span>
          <span id="emailspan" class="oldinfo bld">{{currentUser.emails.[0].address}}</span>
          <input type="text" id="emailinput" class="oldinfo" />
        </div>
        <div id="birthdiv" class="userinforow">
          <span class="oldinfo bld">Birth date: </span>
          <span id="birthspan" class="oldinfo bld">
            {{# if currentUser.profile.birthdate }}
              {{mybirthdate currentUser.profile.birthdate}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          {{# if currentUser.profile.birthdate}}
          <input type="text" id="birthinput" class="oldinfo date date-1" placeholder="dd-mm-yyyy" 
          value="{{mybirthdate currentUser.profile.birthdate }}"/>
            {{else}}
          <input type="text" id="birthinput" class="oldinfo date date-1" placeholder="dd-mm-yyyy" 
          value="01-01-1900"/>
            {{/if}}  
          <span class="updatebirthdate oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update birth  name" title="update birth date"></i>
          </span>
          <span class="savebirthdate bld">save</span>
        </div>
        <div id="genderdiv" class="userinforow">
          <span class="oldinfo bld">Gender: </span>
          <span id="genderspan" class="oldinfo bld">
            {{# if currentUser.profile.gender }}
              {{mygender currentUser.profile.gender}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <span class="oldinfo oldmale bld"> Male:</span>
          <input id="inputmale" type="radio" class="oldinfo usergender" name="gender" value="male" />
          <span class="oldinfo oldfemale bld">Female:</span>
          <input  id="inputfemale" type="radio" class="oldinfo usergender" name="gender" value="female"  />
          <span class="updategender oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update gender " title="update gender"></i>
          </span>
          <span class="savegender bld">save</span>
        </div>
        <div id="phonediv" class="userinforow">
          <span class="oldinfo bld">phone number: </span>
          <span id="phonesspan" class="oldinfo bld">
            {{# if currentUser.profile.phoneNumber }}
              {{myphonenumber currentUser.profile.phoneNumber}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="phoneinput" class="oldinfo" value="{{myphonenumber currentUser.profile.phoneNumber }}" placehoder="**** *** ***" />
          <span class="updatephone oldinfo bld">
            <i class="glyphicon glyphicon-pencil" alt="update phone number" title="update phone  number"></i>
          </span>
          <span class="savephonenumber bld">save</span>
          <div id="errors">
          <span id="emtyphone" class="oldinfo error">
            <i class=" glyphicon glyphicon-asterisk"></i>
          </span>
          <span id="phoneerr" class="error"></span>
        </div>
        </div>
        <div id="pubcodediv" class="userinforow">
          <span class="oldinfo bld">publicity code: </span>
          <span id="pubspan" class="oldinfo bld">
            {{currentUser.profile.publicityCode}}
          </span>
        </div>
        <div id="pubcounterdiv" class="userinforow">
          <span class="oldinfo bld">publicity counter: </span>
          <span id="pubcounterspan" class="oldinfo bld">
            {{currentUser.profile.publicityCounter}}
          </span>
        </div>
        <div id="statusdiv" class="userinforow">
          <span class="oldinfo bld">profile status: </span>
          <span id="statusspan" class="oldinfo bld">
            {{currentUser.profile.Status}}
          </span>
        </div>
         <h6> Address </h6><span class="liner"></span>
        <div id="buildingnumberdiv" class="userinforow">
           <span class="oldinfo bld">Building number: </span>
           <span id="buildingnumberspan " class="oldinfo bld">
            {{# if currentUser.profile.buildingNumber }}
              {{currentUser.profile.buildingNumber}}
            {{else}}
                not setted
            {{/if}}   
           </span>
           <input type="text" id="buildingnumberinput" class="oldinfo"/>
           <span class="updatebuildingnumber oldinfo">
             <i class="glyphicon glyphicon-pencil" alt="update building" title="update building number"></i>
           </span>
           <span class="savebuildingnumber bld">save</span>
           <span id="buildingnumbererr" class="oldinfo error"></span>
        </div>
        <div id="streetnamediv" class="userinforow">
          <span class="oldinfo bld">street name: </span>
          <span id="streetnamespan" class="oldinfo bld">
            {{# if currentUser.profile.streetname }}
              {{currentUser.profile.streetname}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="streetnameinput" class="oldinfo bld"/>
          <span class="updatestreetname oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update street name" title="update street name"></i>
          </span>
          <span class="savestreetname bld">save</span>
          <span id="streetnameerr" class="oldinfo error"></span>
        </div>
        <div id="citydiv" class="userinforow">
          <span class="oldinfo bld ">city: </span>
          <span id="cityspan" class="oldinfo bld">
            {{# if currentUser.profile.city }}
              {{currentUser.profile.city}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="cityinput" class="oldinfo"/>
          <span class="updatecity oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update city name" title="update city name"></i>
          </span>
          <span class="savecity bld">save</span>
          <span id="cityerr" class="oldinfo error"> </span>
        </div>
        <div id="postcodediv" class="userinforow">
          <span class="oldinfo bld">post code: </span>
          <span id="postcodespan" class="oldinfo bld">
            {{# if currentUser.profile.postecode }}
              {{currentUser.profile.postecode}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="postecodeinput" class="oldinfo"/>
          <span class="updatepostecode oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update post code" title="update post code"></i>
          </span>
          <span class="savepostecode bld">save</span>
          <span id="cityerr" class="oldinfo error"></span>
        </div>
        <div id="countrydiv" class="userinforow">
          <span class="oldinfo bld">country name: </span>
          <span id="countryspan " class="oldinfo bld">
            {{# if currentUser.profile.country }}
              {{currentUser.profile.country}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="countryinput" class="oldinfo"/>
          <span class="updatecountry oldinfo">
            <i class="glyphicon glyphicon-pencil" alt="update country" title="update country"></i>
          </span>
          <span class="savecountry bld">save</span>
          <span id="countryerr" class="oldinfo error"></span>
        </div>                 
      </div>
</template> 