<template name="homeReset">
  <div class="homeresetcontainer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </div>
	<div id="newpasswordpopup">
    <div class="def-block widget">
       <h4> New Password  </h4><span id="errorMsgReset"></span><span class="liner"></span>
      <div class="widget-content row-fluid">
          <form id="popup_newPassword_form">
            <div class="input-group input-group-lg ">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="newpassword" id="reset_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
                 <i id="viewPasswd_resetpass" class="glyphicon glyphicon-eye-open"></i>
                 <i id="validPasswd_reset" class="glyphicon"></i>
                <!--<label for="login_retypePassword" class="liner">Retype password</label>-->
            </div>
            <div class="input-group input-group-lg ">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="retype_newpassword" id="reset_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
                <i id="viewPasswdretype_resetpass" class="glyphicon glyphicon-eye-open"></i>
                 <i id="validPasswdretype_reset" class="glyphicon"></i>
            </div>  
            <!--<div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="login_password" id="signup_password" class="resetpassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="login_retypePassword" id="signup_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
            </div>  -->
            <div id="reset_loginregister">
                <a href="#" id="password_reset" class="changepassword tbutton color3 small" value="change"><span>Change</span></a>
                <a href="#" id="new_password_cancel" class="tbutton color2 small"><span>Cancel</span></a>
              </div>
  </form>
        </div>
    </div>
      <div id="popup_new_pass">x</div>
  </div>
  <div id="new_pw_bg"></div>
<!-- <div id="popupNewPassword">
 	  <div class="def-block widget">
        <h4> New Password  </h4><span class="liner"></span>        
        <div class="widget-content row-fluid">
          <form id="popup_newPassword_form">
            <div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="login_password" id="signup_password" class="resetpassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="login_retypePassword" id="signup_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
            </div>  
                <input type="button"  id="rached" class="changepassword tbutton small" value="change"/>
                <a href="#" id="new_password_cancel" class="tbutton color2 small"><span>Cancel</span></a>
  </form>
        </div>
      </div>
      <div id="popup_new_pass">x</div>
    </div>
    <div id="new_pw_bg"></div> -->
</template>
<!--
<template name="NewPasswordTemplate" >
	{{#if passwordToken}}
 <div id="popupNewPassword">
      <div class="def-block widget">
        <h4> New Password  </h4><span class="liner"></span>        
        <div class="widget-content row-fluid">
          <form id="popup_newPassword_form">
            <div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="login_password" id="signup_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="login_retypePassword" id="signup_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
            </div>  
                <a href="#" id="new_password" class="tbutton small"><span>Change</span></a>
                <a href="#" id="new_password_cancel" class="tbutton color2 small"><span>Cancel</span></a>
  </form>
        </div>
      </div>
      <div id="popup_new_pass">x</div>
    </div>
    <div id="new_pw_bg"></div> 
    {{/if}}
</template> 
<template name="newPasswordForm">
  <form id="popup_newPassword_form">
            <div class="input-group input-group-lg">
                 <span class="input-goup-addon" alt=" password" title=" your new password"><i class="icon-lock registerForm" alt="your new password" title="your new password"></i></span>
                 <input type="password" name="login_password" id="signup_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="password">
             </div>
            <div class="input-group input-group-lg">
                <span class="input-goup-addon" alt="retype new password" title="retype new password">
                  <i class="icon-lock registerForm"></i>
                </span>
                <input type="password" name="login_retypePassword" id="signup_retypePassword" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='password' || this.value=='' ) this.value = 'password';" value="password" placeholder="retype new password">
            </div>  
                <a href="#" id="new_password" class="tbutton small"><span>Change</span></a>
                <a href="#" id="new_password_cancel" class="tbutton color2 small"><span>Cancel</span></a>
  </form>
</template>-->