
<template name="seeprofile">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--<div class="cover2">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="../../images/5.jpeg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="../../images/avatarProfileM2.png" alt="Profile image example"/>
         <table class="wallInfoTable">
                    <tbody>
                      <tr>
                        <td>
                          <span class="usrPrflnm">{{profile.name}}</span>           
                        </td>
                      </tr>
                      <tr>
                        <td>{{profile.name}} is 
                        </td>
                        <td><span class="userType" value="{{profile.type}}">{{profile.type}}</span>
                        </td>  
                      </tr>
                       <tr>
                        <td>Agent on behalf:</td>
                        <td>{{agent.name}}</td>
                      </tr>
                      <tr>
                        <td>full name:</td>
                        <td>{{profile.firstname}} {{profile.lastname}} </td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{emails.[0].address}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        {{# if profile.birthdate }}
                            <td>{{profile.birthdate}}</td>
                        {{else}}
                                  <td>Not set</td>
                        {{/if}}   
                      </tr>
                      <tr>
                        <td>Gender</td>
                        {{# if profile.gender }}
                            <td>{{ profile.gender}}</td>
                        {{else}}
                                  <td>Not set</td>
                        {{/if}}   
                      </tr>
                      <tr>
                        <td>Home Address</td>
                        {{# if profile.country }}
                            <td>{{profile.country}}</td>
                        {{else}}
                                  <td>Not set </td>
                        {{/if}}  
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        {{# if profile.phoneNumber }}
                            <td>{{profile.phoneNumber}}(mobile)</td>
                        {{else}}
                                  <td>Not set</td>
                        {{/if}}  
                      </tr>
                      <tr>
                        <td>Publicity Code</td>
                        <td>{{profile.publicityCode}}
                        </td>
                      </tr>
                      <tr>
                        <td>Status:</td>
                        <td>{{profile.Status}}</td>
                      </tr>
                      <tr>
                        <td>Publicity Counter:</td>
                        <td>{{profile.publicityCounter}} id is {{newfunction}}</td>

                      </tr>
                      <tr>
                        {{> represntationreq}}
                      </tr>
                    </tbody>
                  </table>
     
    </div>
</div>-->
<div class="profilecover">
 <img class = "coverImage" src="images/5.jpeg" />
  <div class="subcover">
    <div class="avatarContainer">
      <div class="changeAvatar">
        <br>
      </div>
      <img class = "avatarImage" src="images/avatarProfileM3.png" />
    </div>
    <div class="usercontainer">
      <div class="username">
        <span class="usrPrflnm">{{ myusername this}}
        </span>
      </div>
      <div class="usermessages dropdown" >
        <span class="messagessicon  dropdown-toggle" data-toggle="dropdown" alt="send Message" title="send Message">
          <i class="glyphicon glyphicon-envelope" alt="Send message" title="Send message"></i>
        </span>
        <ul class="dropdown-menu" id="messagesList" > 
          <li>
            <a href="{{pathFor 'homeProfile'}}">Messages 1
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#">Stats
              <span class="glyphicon glyphicon-stats pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li id="profileMessages">
            <a href="#" >Messages 2
              <span class="badge pull-right"> 42 
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#">Messages 3
              <span class="glyphicon glyphicon-heart pull-right">
              </span>
            </a>
          </li>
          <li class="nav-divider">
          </li>
          <li>
            <a href="#" id="logOut">Messages 4
              <span class="glyphicon glyphicon-log-out pull-right">
              </span>
            </a>
          </li>
        </ul>
      </div>
      {{# if bandprofile  profile.type }} 
      <div class="ratingdiv">
        <p>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
        </p>
      </div>
      <br>
      <div class="wishlist">
      <span>
        Add to wishlist
      </span>
    </div>
    <br>
    <div class="hire">
      <span>
        Book
      </span>
    </div>
      {{/if}}
      <div id="notificationWrapper">
        <div id="notificationTitle"> 
          <h4> NOTIFICATIONS </h4>
          <span class="liner">
          </span>
        </div>
        <div id="notificationList">
          <ul id="ullist" class="ullist"> 
            {{#if emtyNotifcations }}
              <p class="emptynot"> there is no notifications</p>
            {{/if}}                  
            {{# each notifications}}
              {{> notification}}
            {{/each}}
          </ul>
        </div>  
      </div>
    </div> 
  </div> 
  <div class="changeCover">
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="posts tabprofile">
  <div class="def-block">
    <div class="topbar">
        <!--<span class="addAlbum">add new album</span><span class="liner"></span>-->
    </div>
    <ul class="tabs otherstab">
      <li><a href="#details" class="active details">Details</a></li>
      {{# if bandprofile  profile.type }}
       <li><a class="seeloadsongs" href="#mp3">Songs</a></li>
      <li><a href="#photogallery" class="seegallery">Gallery </a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#calender">Calender</a></li>
      <li>
        {{#if iamAgent currentUser.profile.type}}
          {{#if detectRequests currentUser._id}}
      <div class="tbutton small color10 repRequest ">
        <span class="sendreqRep" alt="representaion request already sent" title="send representaion request already sent" >
          Representation request already sent
        </span>
      </div>
      {{else}}
        <div class="tbutton small color3 repRequest">
        <span class="sendreqRep" alt="send representaion request" title="send representaion request" >
          Representation request
        </span>
      </div>
      {{/if}}
      {{/if}}
    </li>
    <li>
        <div id="close" class="tbutton small color3 tback uploadimgdiv"><span>&gt; Back to Albums</span></div>
    </li>
    {{/if}}
      {{# if userprofile  profile.type }}
       <li><a href="#mp3">Shared Songs</a></li>
      <li><a href="#photogallery">Gallery </a></li>
    {{/if}}
    </ul>
    <ul class="tabs-content ">
      <li id="details" class="active">
        <div class="userinfocontent">
          {{# if bandprofile  profile.type }}
             {{> seebandInformations}}
          {{/if}}
         {{# if userprofile profile.type }}
            {{> seeuserInformations}}
          {{/if}}
        </div>
      </li>
     <li id="mp3">
        <div class="video-grid"> 
          <div class="row clearfix mbf">
            {{ # if seeallsongs}}
            <div class="music-player-list">
            </div>
            {{/if }}
          </div>
        </div>
      </li>
      <li id="photogallery">
        <div class="video-grid">
          <ul id="tp-grid" class="tp-grid">
            {{#each imgs}}
              {{> task}}
            {{/each}}   
          </ul>
         <!-- {{> imageUploader}}-->
        </div>
      </li>
      <li id="videos">
        <div class="video-grid">
         videos ...
        </div>
      </li>
      <li id="events">
        <div class="video-grid">
         events ...
        </div>
      </li>
 <li id="calender">
        <div class="video-grid">
         calender ...
        </div>
      </li>

    </ul>
  </div>
</div>
      <!--<div class="posts">
        <div class="def-block" style="min-height: 400px;">
          <div class="topbar">
            <div id="close" class="tbutton small tback"><span> Back to Albums</span></div>
            <h4 id="name">Photo Gallery</h4>
            <span class="addAlbum">add new album</span><span class="liner"></span>
          </div>
          <ul id="tp-grid" class="tp-grid">
            {{#each imgs}}
            {{> image}}
          {{/each}}   
          </ul>
        </div>
      </div>  
      <br>
      <br>
      <div class="posts">
        <div class="def-block" style="min-height: 400px;">
          <div class="topbar">
            <div id="close" class="tbutton small tback"><span> Back to Albums</span></div>
            <h4 id="name">Photo Gallery</h4>
            <span class="addAlbum">add new album</span><span class="liner"></span>
          </div>
          <ul id="tp-grid" class="tp-grid">
            {{#each images}}
            mp3
          {{/each}}   
          </ul>
        </div>
      </div>  -->

 </template>  
<template name="seebandInformations">
      <div id="informationconatiner" >
        <div id="bandnamediv" class="userinforow">
          <span class="oldinfo bld">Band name:</span>
          <span id="bandnamespan" class="oldinfo bld">{{mybandname this}}</span>
        </div>
        <div id="bandtypediv" class="userinforow">
          <span class="bandtypeslabel oldinfo bld">Band type: </span>
          <span id="bandtypespan" class="oldinfo bld">{{mybandtype profile}}</span>
        </div>
        <div id="setsdiv" class="userinforow">
          <span class="oldinfo bld">Acoustic Sets: </span>
          <span id="bandsetsspan" class="oldinfo bld">{{bandsets profile}}</span>
        </div>
        <div id="agentdiv" class="userinforow">
          <span class="oldinfo bld">Agent: </span>
          <span id="salaryspan" class="oldinfo bld" alt="set only by agent" title="set only by agent">
              {{myagent this }}
          </span>
        </div>
        <div id="salarydiv" class="userinforow">
          <span class="oldinfo bld">Salary: </span>
          <span id="salaryspan" class="oldinfo bld" alt="set only by agent" title="set only by agent">
            {{# if profile.salary }} 
              {{ profile.salary}} $
            {{else}}
                not setted
            {{/if}}
          </span>
        </div>
        <div id="emaildiv" class="userinforow">
          <span class="oldinfo bld">Email: </span>
          <span id="emailspan" class="oldinfo bld">{{this.emails.[0].address}}</span>
        </div>
        <div id="phonediv" class="userinforow">
          <span class="oldinfo bld">phone number: </span>
          <span id="phonesspan" class="oldinfo bld">
            {{# if profile.phoneNumber }}
              {{profile.phoneNumber}}
            {{else}}
                not setted
            {{/if}}
          </span>
        </div>
        <div id="memeberdiv" class="userinforow ">
          <span class="bld memeberlabel mytitle">Members </span>
        </div>
        <br>
        <div class="userinforow memeberslist ">
          <ul class="bandmembers">
            {{ #if allmemebers.profile.members }}
            {{#each allmemebers.profile.members}}
            <li>
              <span class="bld member">{{incrementedindex @index}} : 
                <span id="name">{{name}}</span>-
                <span id="role">{{role}}</span>
              </span>
            </li>
            {{/each}}
            {{else}}
              <li>
                <span class="bld member">no members registred</span>
            </li>
            {{/if}}
          </ul>
        </div>
        <div id="highlitsdiv" class="userinforow ">
          <span class="bld memeberlabel mytitle">Highlights </span>
        </div>
        <br>
        <div class="userinforow highlightslist ">
          <ul class="highlights">
            {{ #if highlights.profile.highlights }}
            {{#each highlights.profile.highlights}}
              <li>
              <span class="bld highlight">- 
                <span id="content" value="{{id}}">{{content}}</span>
              </span>
            </li>
            {{/each}}
            {{else}}
            <span class="bld highlight"> No highlights registred
            </span>
            {{/if}}
          </ul>
        </div>
        <div id="repertoirediv" class="userinforow ">
          <span class="bld listsetlabel mytitle">List Sets </span>
        </div>
        <br>
        <div class="userinforow  repertoirelist ">
          <ul class="repertoireullist">
            {{#if repertoirs.profile.repertoire}}
            {{#each repertoirs.profile.repertoire}}
            <li>
              <span class="bld repertoire">+
                <span id="singername">{{singername}}</span>-
                <span id="songname">{{songname}}</span>
              </span>
            </li>
            {{/each}}
            {{else}}
             <span class="bld repertoire">List set is empty</span> 
             {{/if}}
          </ul>
        </div>
        <div id="pubcodediv" class="userinforow">
          <span class="oldinfo bld">publicity code: </span>
          <span id="pubspan" class="oldinfo bld">
              {{ profile.publicityCode}}
          </span>
        </div>
        <div id="pubcounterdiv" class="userinforow">
          <span class="oldinfo bld">publicity counter: </span>
          <span id="pubcounterspan" class="oldinfo bld">
              {{ profile.publicityCounter}}
          </span>
        </div>
        <div id="statusdiv" class="userinforow">
          <span class="oldinfo bld">profile status: </span>
          <span id="statusspan" class="oldinfo bld">
              {{currentUser.profile.Status}}
          </span>
        </div>
        <h6> Address </h6>
        <div id="countrydiv" class="userinforow">
          <span class="oldinfo bld">country name: </span>
          <span id="countryspan " class="oldinfo bld">Uk
          </span>
        </div>
        <div id="postcodediv" class="userinforow">
          <span class="oldinfo bld">post code: </span>
          <span id="postecodespan" class="oldinfo bld">
            {{# if profile.address.postecode }}
              {{ profile.address.postecode}}
            {{else}}
                not setted
            {{/if}}
          </span>
      </div>
        <div id="regiondiv" class="userinforow">
          <span class="oldinfo bld ">Region: </span>
          <span id="regionspan" class="oldinfo bld">
            {{# if profile.address.region }}
              {{ profile.address.region}}
            {{else}}
                not setted
            {{/if}}   
          </span>
          <input type="text" id="regioninput" class="oldinfo bld" value="{{currentUser.profile.address.region}}"/>
        </div>
        <div id="citydiv" class="userinforow">
          <span class="oldinfo bld ">city: </span>
          <span id="cityspan" class="oldinfo bld">
            {{# if profile.address.city }}
              {{ profile.address.city}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="addressdiv" class="userinforow">
          <span class="oldinfo bld">Address: </span>
          <span id="addressspan" class="oldinfo bld">
            {{# if  profile.address.address }}
              {{    profile.address.address}}
            {{else}}
                not setted
            {{/if}}
          </span>
      </div>
      </div>

</template> 
<template name="seeuserInformations ">
      <div id="informationconatiner" >
        <div id="usernamediv" class="userinforow">
          <span class="oldinfo bld">full name:</span>
          <span class="oldinfo bld" id="usernamespan" disabled="disabled">{{ profile.name}}</span>
        </div>  
        <div id="firstnamediv" class="userinforow">
          <span class="oldinfo bld">First name: </span>
          <span id="firstnamespan" class="oldinfo bld">{{profile.firstname}}</span>
        </div>
        <div id="lastnamediv" class="userinforow">
          <span class="oldinfo bld">Last name:</span>
          <span id="lastnamespan" class="oldinfo bld">{{profile.lastname}}</span>
        </div>
        <div id="emaildiv" class="userinforow">
          <span class="oldinfo bld">Email: </span>
          <span id="emailspan" class="oldinfo bld">{{this.emails.[0].address}}</span>
          <input type="text" id="emailinput" class="oldinfo" />
        </div>
        <div id="birthdiv" class="userinforow">
          <span class="oldinfo bld">Birth date: </span>
          <span id="birthspan" class="oldinfo bld">
            {{# if profile.birthdate }}
              {{mybirthdate profile.birthdate}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="genderdiv" class="userinforow">
          <span class="oldinfo bld">Gender: </span>
          <span id="genderspan" class="oldinfo bld">
            {{# if profile.gender }}
              {{mygender profile.gender}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="phonediv" class="userinforow">
          <span class="oldinfo bld">phone number: </span>
          <span id="phonesspan" class="oldinfo bld">
            {{# if profile.phoneNumber }}
              {{myphonenumber profile.phoneNumber}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="pubcodediv" class="userinforow">
          <span class="oldinfo bld">publicity code: </span>
          <span id="pubspan" class="oldinfo bld">
            {{ profile.publicityCode}}
          </span>
        </div>
        <div id="pubcounterdiv" class="userinforow">
          <span class="oldinfo bld">publicity counter: </span>
          <span id="pubcounterspan" class="oldinfo bld">
            {{ profile.publicityCounter}}
          </span>
        </div>
        <div id="statusdiv" class="userinforow">
          <span class="oldinfo bld">profile status: </span>
          <span id="statusspan" class="oldinfo bld">
            {{ profile.Status}}
          </span>
        </div>
         <h6> Address </h6>
        <div id="countrydiv" class="userinforow">
          <span class="oldinfo bld">country name: </span>
          <span id="countryspan " class="oldinfo bld">Uk
          </span>
         </div>
        <div id="postcodediv" class="userinforow">
          <span class="oldinfo bld">post code: </span>
          <span id="postecodespan" class="oldinfo bld">
            {{# if  profile.address.postecode }}
              {{  profile.address.postecode}}
            {{else}}
                not setted
            {{/if}}
          </span>
      </div>
        <div id="regiondiv" class="userinforow">
          <span class="oldinfo bld ">Region: </span>
          <span id="regionspan" class="oldinfo bld">
            {{# if profile.address.region }}
              {{  profile.address.region}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="citydiv" class="userinforow">
          <span class="oldinfo bld ">city: </span>
          <span id="cityspan" class="oldinfo bld">
            {{# if profile.address.city }}
              {{ profile.address.city}}
            {{else}}
                not setted
            {{/if}}   
          </span>
        </div>
        <div id="addressdiv" class="userinforow">
          <span class="oldinfo bld">Address: </span>
          <span id="addressspan" class="oldinfo bld">
            {{# if profile.address.address }}
              {{ profile.address.address}}
            {{else}}
                not setted
            {{/if}}
          </span>
      </div>
      <br>
      <br>
      <br>
      </div>
</template>  
 <template name="represntationreq">
                        <a href="#" class="sendreqRep">
                        <div class="widget-content representsArtist">
                          <p>
                              <i class="icons-bag mid" style="font-size: 40px;vertical-align: middle;">
                              </i>send engagment request to {{currentUser.profile.name}}
                          </p>
                        </div>
                      </a>
                    </template>    
 